<template>
    <div>
        <Nav :isActive="6"></Nav>
        
        <div class="container">
            <center class="mt-2"><h3>การผสมพันธุ์</h3></center>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="mt-4">
                    <div class="text-right mb-2">
                        <div style="color:#B9B9B9;font-style:Italic" v-if="mating_search != ''">ค้นหาเบอร์หูหมายเลข : {{mating_search}}</div>
                        <b-input v-model="mating_search" @keyup="searchTable(mating_search)" :placeholder="'ค้นหาเบอร์หู'" class="col-md-4 ml-auto"></b-input>
                    </div>
                    <table class="table table-striped">
                        <thead >
                            <tr>
                                <th>ลำดับ</th>
                                <th>วันที่</th>
                                <th>โรงเรือน</th>
                                <th>ซองสุกร</th>
                                <th>รหัสพ่อพันธุ์</th>
                                <th>รหัสแม่พันธุ์</th>
                                <th>สถานะ</th>
                            </tr>
                        </thead>
                        <tbody  >
                            <tr v-for="(item) in mating.slice((page-1)*10,((page-1)*10)+10)" :key="item.sowMatingID">
                                <td>{{item.count}}</td>
                                <td>{{item.dateshow}}</td>
                                <td>{{item.unitName}}</td>
                                <td>{{alpha[item.row-1]}}{{item.col}}</td>
                                <td>{{item.SIRE}}</td>
                                <td>{{item.sowCode}}</td>
                                <td v-if="item.status == '0' && item.numday < 15" style="color:#0068A5">ยังไม่ได้ตรวจสอบ ({{item.numday}} วัน)</td>
                                <td v-if="item.status == '0' && item.numday >= 15 && item.numday < 18" style="color:orange">ยังไม่ได้ตรวจสอบ ({{item.numday}} วัน)</td>
                                <td v-if="item.status == '0'  && item.numday >= 18" style="color:red">ยังไม่ได้ตรวจสอบ ({{item.numday}} วัน)</td>
                                <td v-if="item.status == '1'" style="color:#12B820">ผสมติด</td>
                                <td v-if="item.status == '2' && item.numday < 21" style="color:darkred">ผสมไม่ติด({{item.numday}} วัน)</td>
                                <td v-if="item.status == '2' && item.numday > 21" style="color:white"><span style="background-color: black;padding:5px">กลับสัด({{item.numday}} วัน)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
            </div>
        </div>
    </div>
</template>

<script>
import Nav from "../../components/Nav";
import app from "../../app";
import qs from "qs";

export default {
    name: 'mating',
    components: { Nav },
    data() {
        return {
            page:1,
            pages1: [],
            mating: [],
            alpha : ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P"],
            mating_search:"",
        };
    },
    mounted() {
        this.axios({
            method: "get",
            url: app.server()+"/get/sowmating/All",
        }).then(res=>{
            if(res.data){
                this.mating = res.data;
                var c=0;
                this.mating.forEach(item=>{
                    var d = new Date(item.date_mating);
                    var now = new Date();
                    var str = d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear();
                    item.count = ++c;
                    item.dateshow = str;
                    item.numday = this.getDifferenceInDays(d.getTime(),now.getTime());
                })
                console.log(this.mating)
                this.pages1 = [];
                var pag = Math.ceil(c/10);
                for(var i=0;i<pag;i++){
                    this.pages1.push("?");
                }
            }
        });
    },
    computed: {
        init(){
            this.count = 0;
        }
    },
    methods: {
        getDifferenceInDays(date1, date2) {
            const diffInMs = Math.abs(date2 - date1);
            return parseInt(diffInMs / (1000 * 60 * 60 * 24));
        },
        searchTable(data){
            console.log(data);
            if(data == ''){
                this.axios({
                    method: "get",
                    url: app.server() + "/get/sowmating/All",
                }).then(res=>{
                    if(res.data){
                        this.mating = res.data;
                        var c=0;
                        this.mating.forEach(item=>{
                            var d = new Date(item.date_mating);
                            var now = new Date();
                            var str = d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear();
                            item.count = ++c;
                            item.dateshow = str;
                            item.numday = this.getDifferenceInDays(d.getTime(),now.getTime());
                        })
                        console.log(this.mating)
                        this.page = 1;
                        this.pages1 = [];
                        var pag = Math.ceil(c/10);
                        for(var i=0;i<pag;i++){
                            this.pages1.push("?");
                        }
                    }
                });
            }else{
                this.axios({
                    method:"get",
                    url: app.server()+"/get/sowmating/search?search="+data,
                }).then(res=>{
                    if(res.data){
                        this.mating = res.data;
                        var c=0;
                        this.mating.forEach(item=>{
                            var d = new Date(item.date_mating);
                            var now = new Date();
                            var str = d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear();
                            item.count = ++c;
                            item.dateshow = str;
                            item.numday = this.getDifferenceInDays(d.getTime(),now.getTime());
                        })
                        console.log(this.mating)
                        this.page = 1;
                        this.pages1 = [];
                        var pag = Math.ceil(c/10);
                        for(var i=0;i<pag;i++){
                            this.pages1.push("?");
                        }
                    }
                })
            }
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        changeStatus(mating){
            mating.status = 0;
            var data = {
                "id": mating.sowMatingID,
                "sowSemenID": mating.sowSemenID,
                "sowID": mating.sowID,
                "userID": mating.empID,
                "status": mating.status,
            }
            var dataJSON = qs.stringify(data);

            this.axios({
                method : "put",
                url: app.server()+"/update/sowmating",
                data: dataJSON,
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert()
                    }
                }
            });
        }
    },
};
</script>