<template>
    <div id="unit" >
        <Nav v-bind:isActive="3"></Nav>
        <div class="row col-md-12 mt-2">
          <div class="col-md-auto ml-auto">
              <b-button variant="info" v-b-modal="'report'">รายงาน</b-button>

              <b-modal id="report" size="lg" title="รายงาน QrCode ซองสุกร" hide-footer>
                <div id="showPDF" style="height: 500px;width:100%;overflow: scroll;">
                    <table >
                    <tr style="display:grid; grid-template-columns: 100px auto auto;padding: 10px;">
                        <th style="text-align:center">
                            <strong>ลำดับ</strong>
                        </th>
                        <th style="text-align:center">
                            <strong>Qrcode</strong>
                        </th>
                        <th style="text-align:center">
                            <strong>ซอง</strong>
                        </th>

                    </tr>

                    <tr style="width:100%;border-bottom-style:solid;border-width:thin;border-color:#c0c0c0"></tr>

                    <tr v-for="item in block" :key="item.unit_block_id" style="display:grid; grid-template-columns: 100px auto auto;padding: 10px;">
                        <td style="text-align:center">
                            <strong><br>{{item.count}}</strong>
                        </td>
                        <td style="text-align:center">
                            <vue-qrcode :width="140" :quality="1" :scale="4" :value="item.blockCode" />
                        </td>
                        <td style="text-align:left">
                            <p><br>โรงเรือน : {{item.unitName}} <br>แถว : {{item.alpha}} <br>หมายเลข : {{item.col}}</p>
                        </td>

                    </tr>
                    </table>
                </div>
                <div class="dropdown-divider"></div>
                <footer >
                    <div class="col-md-12 text-right">
                        <b-button @click="printPDF()" variant="primary">พิมพ์เอกสาร(print)</b-button>
                    </div>
                </footer>
              </b-modal>
          </div>
      </div>

        <div class="container pt-2">
          <center><h3>Block ใน โรงเรือน {{header}}</h3></center>
          <div class="col-md-12 ml-auto mr-auto">
              <div class="form-group mt-2">
                    <div class="card-body">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ชื่อโรงเรือน</th>
                                        <th>ROW</th>
                                        <th>COL</th>
                                        <th>CODE</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr v-for="(item) in block.slice((page-1)*10,((page-1)*10)+10)" :key="item.unit_block_id" >
                                        <td>{{item.count}}</td>
                                        <td>{{item.unitName}}</td>
                                        <td>{{item.alpha}}</td>
                                        <td>{{item.col}}</td>
                                        <td>{{item.blockCode}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row p-0">
                            <div class="col-md-6">
                                <router-link to="/unit" class="btn btn-outline-dark" >กลับ</router-link>
                            </div>
                            <div class="col-md-6">
                                <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
                            </div>
                        </div>
                        
                  </div>
                </div>
          </div>

      </div>
        
    </div >
</template>

<script>
import Nav from '../../components/Nav';
import app from '../../app';
import qs from "qs";
import pdfMake from 'pdfmake';
import pdfFonts from '../../assets/custom-fonts';
pdfMake.vfs = pdfFonts.pdfMake.vfs;
var htmlToPdfmake = require("html-to-pdfmake");
import VueQrcode from "vue-qrcode";

export default {
    name: 'unit',
    components:{
        Nav,
        VueQrcode
    },
    mounted(){
        console.log("page : "+this.$route.query.page);
        this.axios({
            method: "get",
            url: app.server()+"/get/block/unit?id="+this.$route.params.id,
        }).then(res=>{
            if(res.data){
                var c = 0;
                this.block = res.data;
                var alpha = ['A','B','C','D','E','F','G','H','I','J']
                this.block.forEach(item=>{
                    c++;
                    if(c==1) this.header = item.unitName;
                    item.alpha = alpha[item.row-1];
                    item.count = c;
                });
                
                if(!this.$route.query.page){
                    this.page = Math.ceil(this.$route.query.page);
                }else{
                    this.page = 1
                }
                console.log("current page : "+this.page)
                
                var pag = Math.ceil(c/10);
                this.pages1 = [];
                for(var i=0;i<pag;i++){
                    this.pages1.push('?page='+(i+1));
                }
                
            }
        });

        this.axios({
            method: "get",
            url: app.server()+"/get/farm/All",
        }).then(res=>{
            if(res.data){
                var c = 0;
                this.farm = res.data;
                this.farm.forEach(item=>{
                    c++;
                    if(c==1) this.newUnit.farmID = item.farmID;
                    item.count = c;
                })
            }
        });
    },
    data() {
        return {
            block: [],
            page:1,
            newUnit:[],
            farm:[],
            pages1: [],
            header: "",
        }
    },
    methods: {
        pageGen(num){
             
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        addNewUnit(unit){
            var data = {
                "unitName": unit.unitName,
                'farmID': unit.farmID
            }
            var dataJSON = qs.stringify(data);

            this.axios({
                method : "post",
                url: app.server()+"/add/unit",
                data: dataJSON
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert();
                    }
                }
            });
        },
        editUnit(unit){
            var data = {
                'id': unit.unitID,
                'unitName': unit.unitName
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "put",
                url : app.server()+"/update/unit",
                data: dataJSON,
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert();
                    }
                }
            });
        },
        confirmDelete(id) {
            // Use sweetalert2
            this.$swal.fire({
                title: 'ยืนยันการลบหรือไม่?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var data = {
                            'unit': id,
                        };
                        var dataJSON = qs.stringify(data);
                        this.axios({
                            method: "delete",
                            url: app.server()+"/delete/unit",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.successAlert();
                        })

                    this.$swal.fire('ทำรายการสำเร็จ!', '', 'success')
                }
            });
        },
        printPDF() {
            pdfMake.fonts = {
                // download default Roboto font from cdnjs.com
                Roboto: {
                normal: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf',
                bold: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf',
                italics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf',
                bolditalics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf'
                },
                // Kanit Font
                Kanit: { // 3. set Kanit font
                normal: 'Kanit-Regular.ttf',
                bold: 'Kanit-Medium.ttf',
                italics: 'Kanit-Italic.ttf',
                bolditalics: 'Kanit-MediumItalic.ttf'          
                },
                // Prompt Font
                Prompt: { // 3. set Kanit font
                normal: 'Prompt-Regular.ttf',
                bold: 'Prompt-Medium.ttf',
                italics: 'Prompt-Italic.ttf'    
                }
            }
            var html = htmlToPdfmake(document.getElementById("showPDF").innerHTML);
            var win = window.open("", "_blank");
            var docDefinition = {
                content: [html],
                defaultStyle: { // 4. default style 'KANIT' font to test
                font: 'Prompt'
                },
                pageBreakBefore: function(currentNode) {
                return (
                    currentNode.style &&
                    currentNode.style.indexOf("pdf-pagebreak-before") > -1
                );
                },
                style: function(currectNode) {
                return currectNode.style && currectNode.style.indexOf("text-center");
                }
            };

            let pdfDocGenerator = pdfMake.createPdf(docDefinition);
            try {
                //pdfDocGenerator.open({}, win);
                pdfDocGenerator.print({}, win)
            } catch (err) {
                console.log(err);
            }
        }
        
    }
}
</script>