<template>
    <div id="unit" >
        <Nav v-bind:isActive="3"></Nav>
        <div class="row col-md-12 mt-2">
          <div class="col-md-auto ml-auto">
              <b-button variant="info" v-b-modal="'addPosition'">เพิ่มโรงเรือน</b-button>
              
              <b-form>
              <b-modal id="addPosition" title="เพิ่มตำแหน่ง" hide-footer>
                <div class="row">
                    <div class="col-md-4 col-form-label text-right font-weight-bold">
                        ชื่อตำแหน่ง :
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" class="form-control" v-model="newUnit.unitName" >
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4 col-form-label text-right font-weight-bold">
                        ฟาร์ม :
                    </div>
                    <div class="col-md-7 text-left">
                        <select name="farm" v-model="newUnit.farmID" class="form-control col-md-12">
                                <option v-for="(item) in farm" :key="item.farmID" :value="item.farmID">{{item.farmname}}</option>
                        </select>
                    </div>
                </div>

                 <div class="row mt-2">
                    <div class="col-md-4 col-form-label text-right font-weight-bold">
                        จำนวนแถว :
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" class="form-control" v-model="newUnit.row" >
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4 col-form-label text-right font-weight-bold">
                        จำนวนซอง/แถว :
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" class="form-control" v-model="newUnit.col" >
                    </div>
                </div>

                <div class="dropdown-divider"></div>
                <footer >
                    <div class="col-md-12 text-right">
                        <b-button @click="addNewUnit(newUnit)" variant="primary">เพิ่มโรงเรือน</b-button>
                    </div>
                </footer>
              </b-modal>
              </b-form>
          </div>
      </div>

        <div class="container pt-2">
          <center><h3>รายการโรงเรือน</h3></center>
          <div class="col-md-12 ml-auto mr-auto">
              <div class="form-group mt-2">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="text-right mb-2">
                                <div style="color:#B9B9B9;font-style:Italic" v-if="search != ''">ค้นหา : {{search}}</div>
                                <b-input v-model="search" @keyup="searchTable(search)" :placeholder="'ค้นหา'" class="col-md-4 ml-auto"></b-input>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ชื่อโรงเรือน</th>
                                        <th>รหัสโรงเรือน</th>
                                        <th>จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr v-for="(item) in unit.slice((page-1)*10,((page-1)*10)+10)" :key="item.unitID" >
                                        <td>{{item.count}}</td>
                                        <td>{{item.unitName}}</td>
                                        <td>{{item.unitID}}</td>
                                        <td>
                                            <button class="btn btn-warning" @click="$bvModal.show('editUnit_'+item.unitID)">แก้ไข</button>
                                            <router-link :to="'/unit/block/'+item.unitID+'?page=1'" class="btn btn-primary ml-2">ซองสุกร</router-link>
                                            <button @click="confirmDelete(item.unitID)" class="ml-2 btn btn-danger">ลบ</button>
                                            <b-button variant="info" class="ml-2" v-b-modal="'unit_'+item.unitID">Qrcode unit</b-button>
                                            <b-button variant="info" @click="reportBlock(item.unitID)" class="ml-2" v-b-modal="'report_'+item.unitID">Qrcode ซอง</b-button>

                                            <b-modal :id="'unit_'+item.unitID" size="lg" title="รายงาน QrCode Unit" hide-footer>
                                                <div :id="'showPDF_unit_'+item.unitID" style="height: 500px;width:100%;overflow: scroll;">
                                                    <div style="text-align: center">
                                                        <h2>Qrcode Unit : {{item.unitName}}</h2>
                                                        <vue-qrcode :width="150" :quality="1" :scale="4" :value="''+item.unitID" />
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <footer >
                                                    <div class="col-md-12 text-right">
                                                        <b-button @click="printPDFUnit(item.unitID)" variant="primary">พิมพ์เอกสาร(print)</b-button>
                                                    </div>
                                                </footer>
                                            </b-modal>

                                            <b-modal :id="'report_'+item.unitID" size="lg" title="รายงาน QrCode ซองสุกร" hide-footer>
                                                <div :id="'showPDF_'+item.unitID" style="height: 500px;width:100%;overflow: scroll;">
                                                    <table >
                                                    <tr style="display:grid; grid-template-columns: 100px auto auto;padding: 10px;">
                                                        <th style="text-align:center">
                                                            <strong>ลำดับ</strong>
                                                        </th>
                                                        <th style="text-align:center">
                                                            <strong>Qrcode</strong>
                                                        </th>
                                                        <th style="text-align:center">
                                                            <strong>ซอง</strong>
                                                        </th>

                                                    </tr>

                                                    <tr style="width:100%;border-bottom-style:solid;border-width:thin;border-color:#c0c0c0"></tr>

                                                    <tr v-for="item in block" :key="item.unit_block_id" style="display:grid; grid-template-columns: 100px auto auto;padding: 10px;">
                                                        <td style="text-align:center">
                                                            <strong><br>{{item.count}}</strong>
                                                        </td>
                                                        <td style="text-align:center">
                                                            <vue-qrcode :width="140" :quality="1" :scale="4" :value="item.blockCode" />
                                                        </td>
                                                        <td style="text-align:left">
                                                            <p><br>โรงเรือน : {{item.unitName}} <br>แถว : {{item.alpha}} <br>หมายเลข : {{item.col}}</p>
                                                        </td>

                                                    </tr>
                                                    </table>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <footer >
                                                    <div class="col-md-12 text-right">
                                                        <b-button @click="printPDF(item.unitID)" variant="primary">พิมพ์เอกสาร(print)</b-button>
                                                    </div>
                                                </footer>
                                            </b-modal>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
                        </div>
                  </div>
                </div>
          </div>

          <div >
              <b-modal v-for="(item) in unit" :key="item.unitID" :id="'editUnit_'+item.unitID" size="lg" title="แก้ไขข้อมูลโรงเรือน" :hideFooter='true' >
                <div class="row mb-2">
                    <div class="col-md-3 text-right col-form-label">
                        ชื่อโรงเรือน :
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="item.unitName" />
                    </div>
                </div>
                <div class="w-100">
                <b-button
                    @click="editUnit(item)"
                    variant="primary"
                    size="ml"
                    class="float-right">
                    แก้ไข
                </b-button>
                </div>
            </b-modal>
          </div>

      </div>
        
    </div >
</template>

<script>
import Nav from '../../components/Nav';
import app from '../../app';
import qs from "qs";
import pdfMake from 'pdfmake';
import pdfFonts from '../../assets/custom-fonts';
pdfMake.vfs = pdfFonts.pdfMake.vfs;
var htmlToPdfmake = require("html-to-pdfmake");
import VueQrcode from "vue-qrcode";

export default {
    name: 'unit',
    components:{
        Nav,
        VueQrcode
    },
    mounted(){
        this.axios({
            method: "get",
            url: app.server()+"/get/unit/All",
        }).then(res=>{
            if(res.data){
                var c = 0;
                this.unit = res.data;
                this.unit.forEach(item=>{
                    c++;
                    item.count = c;
                })

                var pag = Math.ceil(c/10);
                this.pages1 = [];
                for(var i=0;i<pag;i++){
                    this.pages1.push('?page='+(i+1));
                }
            }
        });

        this.axios({
            method: "get",
            url: app.server()+"/get/farm/All",
        }).then(res=>{
            if(res.data){
                var c = 0;
                this.farm = res.data;
                this.farm.forEach(item=>{
                    c++;
                    if(c==1) this.newUnit.farmID = item.farmID;
                    item.count = c;
                })


            }
        });
    },
    data() {
        return {
            unit: [],
            newUnit:[],
            farm:[],
            page:1,
            pages1: [],
            block: [],
            search: "",
        }
    },
    methods: {
        searchTable(data){
            if(data == ''){
                this.axios({
                    method: "get",
                    url: app.server()+"/get/unit/All",
                }).then(res=>{
                    if(res.data){
                        var c = 0;
                        this.unit = [];
                        this.unit = res.data;
                        this.unit.forEach(item=>{
                            c++;
                            item.count = c;
                        })
                        this.page = 1;
                        var pag = Math.ceil(c/10);
                        this.pages1 = [];
                        for(var i=0;i<pag;i++){
                            this.pages1.push('?page='+(i+1));
                        }
                    }
                });
            }else{
                this.axios({
                    method: "get",
                    url: app.server()+"/get/unit/search?search="+data,
                }).then(res=>{
                    if(res.data){
                        var c = 0;
                        this.unit = [];
                        this.unit = res.data;
                        this.unit.forEach(item=>{
                            c++;
                            item.count = c;
                        });
                        this.page = 1;
                        var pag = Math.ceil(c/10);
                        this.pages1 = [];
                        for(var i=0;i<pag;i++){
                            this.pages1.push('?page='+(i+1));
                        }
                    }
                });
            }
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        addNewUnit(unit){
            var data = {
                "unitName": unit.unitName,
                'farmID': unit.farmID,
                'row':unit.row,
                'col':unit.col,

            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method : "post",
                url: app.server()+"/add/unit",
                data: dataJSON
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert();
                    }
                }
            });
        },
        printPDF(id) {
            pdfMake.fonts = {
                // download default Roboto font from cdnjs.com
                Roboto: {
                normal: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf',
                bold: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf',
                italics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf',
                bolditalics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf'
                },
                // Kanit Font
                Kanit: { // 3. set Kanit font
                normal: 'Kanit-Regular.ttf',
                bold: 'Kanit-Medium.ttf',
                italics: 'Kanit-Italic.ttf',
                bolditalics: 'Kanit-MediumItalic.ttf'          
                },
                // Prompt Font
                Prompt: { // 3. set Kanit font
                normal: 'Prompt-Regular.ttf',
                bold: 'Prompt-Medium.ttf',
                italics: 'Prompt-Italic.ttf'    
                }
            }
            var html = htmlToPdfmake(document.getElementById("showPDF_"+id).innerHTML);
            var win = window.open("", "_blank");
            var docDefinition = {
                content: [html],
                defaultStyle: { // 4. default style 'KANIT' font to test
                font: 'Prompt'
                },
                pageBreakBefore: function(currentNode) {
                return (
                    currentNode.style &&
                    currentNode.style.indexOf("pdf-pagebreak-before") > -1
                );
                },
                style: function(currectNode) {
                return currectNode.style && currectNode.style.indexOf("text-center");
                }
            };

            let pdfDocGenerator = pdfMake.createPdf(docDefinition);
            try {
                //pdfDocGenerator.open({}, win);
                pdfDocGenerator.print({}, win)
            } catch (err) {
                console.log(err);
            }
        },
        printPDFUnit(id) {
            pdfMake.fonts = {
                // download default Roboto font from cdnjs.com
                Roboto: {
                normal: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf',
                bold: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf',
                italics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf',
                bolditalics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf'
                },
                // Kanit Font
                Kanit: { // 3. set Kanit font
                normal: 'Kanit-Regular.ttf',
                bold: 'Kanit-Medium.ttf',
                italics: 'Kanit-Italic.ttf',
                bolditalics: 'Kanit-MediumItalic.ttf'          
                },
                // Prompt Font
                Prompt: { // 3. set Kanit font
                normal: 'Prompt-Regular.ttf',
                bold: 'Prompt-Medium.ttf',
                italics: 'Prompt-Italic.ttf'    
                }
            }
            var html = htmlToPdfmake(document.getElementById("showPDF_unit_"+id).innerHTML);
            var win = window.open("", "_blank");
            var docDefinition = {
                content: [html],
                defaultStyle: { // 4. default style 'KANIT' font to test
                font: 'Prompt'
                },
                pageBreakBefore: function(currentNode) {
                return (
                    currentNode.style &&
                    currentNode.style.indexOf("pdf-pagebreak-before") > -1
                );
                },
                style: function(currectNode) {
                return currectNode.style && currectNode.style.indexOf("text-center");
                }
            };

            let pdfDocGenerator = pdfMake.createPdf(docDefinition);
            try {
                //pdfDocGenerator.open({}, win);
                pdfDocGenerator.print({}, win)
            } catch (err) {
                console.log(err);
            }
        },
        editUnit(unit){
            var data = {
                'id': unit.unitID,
                'unitName': unit.unitName
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "put",
                url : app.server()+"/update/unit",
                data: dataJSON,
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert();
                    }
                }
            });
        },
        reportBlock(id){
            this.axios({
            method: "get",
            url: app.server()+"/get/block/unit?id="+id,
            }).then(res=>{
                if(res.data){
                    var c = 0;
                    this.block = res.data;
                    var alpha = ['A','B','C','D','E','F','G','H','I','J']
                    this.block.forEach(item=>{
                        c++;
                        item.alpha = alpha[item.row-1];
                        item.count = c;
                    });
                    
                }
            });
        },
        confirmDelete(id) {
            // Use sweetalert2
            this.$swal.fire({
                title: 'ยืนยันการลบหรือไม่?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var data = {
                            'unit': id,
                        };
                        var dataJSON = qs.stringify(data);
                        this.axios({
                            method: "delete",
                            url: app.server()+"/delete/unit",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.successAlert();
                        })

                    this.$swal.fire('ทำรายการสำเร็จ!', '', 'success')
                }
            });
        },
    }
}
</script>