<template>
    <div id="logout">
        
    </div >
</template>

<script>
export default {
    name: "Logout",
    created() {
        localStorage.clear()
        this.$router.push({name:"login"})
    }
}
</script>