<template>
  <div id="sow">
    <Nav v-bind:isActive="8"></Nav>
    <div class="container">
      <div class="col-md-12 mt-5">
        <div class="card mt-3">
          <div class="card-header text-white bg-info text-center">
            <h3>สุกร</h3>
          </div>
          <div class="card-body">
           <div class="row">
            <div class="col-md-7">
              <div class="text-right mb-2">
                <div style="color:#B9B9B9;font-style:Italic" v-if="mating_search != ''">ค้นหาเบอร์หูหมายเลข : {{mating_search}}</div>
                <b-input v-model="mating_search" @keyup="searchTable(mating_search)" :placeholder="'ค้นหาเบอร์หู'" class="col-md-8 ml-auto"></b-input>
              </div>
                <table  class="table table-striped">
                    <thead>
                        <tr>
                        <th class="text-center">ลำดับ</th>
                        <th class="text-center">เบอร์หู</th>
                        <th class="text-center">สายพันธุ์</th>
                        <th class="text-center">เพศ</th>
                        <th class="text-center">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item) in sow.slice((page3-1)*splitpage,((page3-1)*splitpage)+splitpage)" :key="item.sowID">
                        <td class="text-center">{{item.count}}</td>
                        <td class="text-center">{{item.sowCode}}</td>
                        <td class="text-center">{{item.breed}}</td>
                        <td class="text-center" v-if="item.recType === 'S'">พ่อพันธุ์</td>
                        <td class="text-center" v-if="item.recType === 'D'">แม่พันธุ์</td>
                        <td class="text-center">
                            <b-button @click="genGraph(item)" class="mr-2" variant="danger">คุณภาพสุกร</b-button>
                            <b-button @click="loadData(item.sowID)" v-b-modal="'detail_'+item.sowID" variant="info">รายละเอียด</b-button>
                            <b-modal :id="'detail_'+item.sowID" size="lg" :title="'รายละเอียด สุกร เบอร์ '+item.sowCode" hide-footer>
                              <div class="card">
                                <div class="card-body">
                                  <div class="card-header text-center">
                                    <h3>การผสมพันธุ์</h3>
                                  </div>
                                  <div class="row">
                                      <table class="col-md-12 table table-striped">
                                        <thead>
                                          <tr>
                                            <th class="text-center">รหัสพ่อพันธุ์</th>
                                            <th class="text-center">สายพันธุ์</th>
                                            <th class="text-center">รหัสน้ำเชื้อ</th>
                                            <th class="text-center">การผสมพันธุ์</th>
                                            <th class="text-center">รหัสแม่พันธุ์</th>
                                            <th class="text-center">คนผสม</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr v-for="item in report_sire.slice((paget1-1)*10,((paget1-1)*10)+10)" :key="item.sowMatingID">
                                            <td class="text-center">{{item.Sire}}</td>
                                            <td class="text-center">{{item.breed}}</td>
                                            <td class="text-center">{{item.SemenBarcode}}</td>
                                            <td class="text-center" v-if="item.status == '0'" style="color:#0068A5">ยังไม่ได้ตรวจสอบ</td>
                                            <td class="text-center" v-if="item.status == '1'" style="color:#12B820">ผสมติด</td>
                                            <td class="text-center" v-if="item.status == '2'" style="color:red">กลับสัด</td>
                                            <td class="text-center">{{item.sowCode}}</td>
                                            <td class="text-center">{{item.fname}} {{item.lname}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                                  <div class="col-md-12">
                                    <b-pagination-nav align="right" v-model="paget1" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
                                  </div>
                                  </div>
                                </div>

                                <div v-if="item.recType === 'D'" class="card">
                                  <div class="card-body">
                                    <div class="card-header text-center">
                                      <h3>การคลอด</h3>
                                    </div>

                                  <div class="row">
                                    <table  class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th class="text-center">วันที่</th>
                                          <th class="text-center">เบอร์หู</th>
                                          <th class="text-center">สายพันธุ์</th>
                                          <th class="text-center">จำนวนลูก</th>
                                          <th class="text-center">น้ำหนักรวม(กก.)</th>
                                          <th class="text-center">รอด (ตัว)</th>
                                          <th class="text-center">ตาย (ตัว)</th>
                                          <th class="text-center">มัมมี่ (ตัว)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr v-for="item in report_dam.slice((paget2-1)*10,((paget2-1)*10)+10)" :key="item.sowBirthID">
                                          <td>{{item.dateshow}}</td>
                                          <td class="text-center">{{item.sowCode}}</td>
                                          <td class="text-center">{{item.breed}}</td>
                                          <td class="text-center">{{item.alive + item.died + item.mummy}}</td>
                                          <td class="text-center">{{item.total_weight}}</td>
                                          <td class="text-center"><label style="color:#800000">{{item.alive}}</label></td>
                                          <td class="text-center"><label style="color:#800000">{{item.died}}</label></td>
                                          <td class="text-center"><label style="color:#800000">{{item.mummy}}</label></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div v-if="item.recType === 'D'" class="col-md-12">
                                        <b-pagination-nav align="right" v-model="paget2" class="ml-auto" :pages="pages2" use-router></b-pagination-nav>
                                  </div>
                                </div>
                              </div>
                            </b-modal>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <b-pagination-nav align="right" v-model="page3" class="ml-auto" :pages="pages3" use-router></b-pagination-nav>
            </div>
            <div class="col-md-5 text-center">
                <div class="row">
                    <vc-donut class="ml-auto mr-auto" v-if="showChart1" background="white" foreground="grey"
                        :size="200" unit="px" :thickness="25"
                        has-legend legend-placement="bottom"
                        :sections="sections" :total="100"
                        :start-angle="0" :auto-adjust-text-size="true"><h1 style="margin: 0;">{{matingPercent}}%</h1>การผสมพันธุ์</vc-donut>
                </div>
                <div class="row">
                  <div v-if="showChart1" style="font-size:13px" class="col-md"><li>{{this.detail1}}</li></div>
                </div>
                <div class="row">

                    <vc-donut class="ml-auto mr-auto mt-2" v-if="showChart2" background="white" foreground="grey"
                        :size="200" unit="px" :thickness="25"
                        has-legend legend-placement="bottom"
                        :sections="sections2" :total="100"
                        :start-angle="0" :auto-adjust-text-size="true"><h1 style="margin: 0;">{{matingPercent2}}%</h1>การให้ลูก</vc-donut>
                </div>
                <div class="row">
                    <div v-if="showChart2" style="font-size:13px" class="col-md"><li>{{this.detail2}}</li></div>
                </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '../../components/Nav';
import app from '../../app';
import qs from 'qs';

var count = 0;
export default {
  name: 'Sow',
  components: {
    Nav
  },
  data(){
    return {
      sow: [],
      page3:1,
      pages3: [],
      sections: [],
      matingPercent : 0,
      sections2: [],
      matingPercent2 : 0,
      showChart1: false,
      showChart2: false,
      detail1: "",
      detail2: "" ,
      mating_search : "",
      report_sire:[],
      pages1: [],
      paget1:1,
      report_dam:[],
      pages2: [],
      paget2:1,
      splitpage:8,
    }
  },
  mounted(){
    this.axios({
      method: "get",
      url: app.server() + "/get/sow/All"
    }).then(res=>{
      if(res.data){
          var c=0;
        this.sow = res.data;
        this.sow.forEach(item=>{
            item.count = ++c;
        })

        var pag = Math.ceil(this.sow.length/this.splitpage);
        for(var i=0;i<pag;i++){
            this.pages3.push('?');
        }
      }
    });
  },
  methods: {
    loadData(data){
      this.axios({
        method: "get",
        url: app.server() + "/get/report/sire/sowID?id="+data
      }).then(res=>{
        if(res.data){
          this.report_sire = res.data;

          var pag = Math.ceil(this.report_sire.length/10);
          for(var i=0;i<pag;i++){
              this.pages1.push('?');
          }
        }
      });

      this.axios({
        method: "get",
        url: app.server() + "/get/report/dam/sowID?id="+data
      }).then(res=>{
        if(res.data){
          this.report_dam = res.data;
          this.report_dam.forEach(item=>{
              var d = new Date(item.date);
              var str = d.getDate()+"/"+d.getMonth()+"/"+d.getFullYear();
              item.dateshow = str;
          })
          this.pages2 = [];
          var pag = Math.ceil(this.report_dam.length/10);
          for(var i=0;i<pag;i++){
              this.pages2.push('?');
          }
        }
      })

    },
    searchTable(data){
        console.log(data);
        if(data == ''){
            this.axios({
              method: "get",
              url: app.server() + "/get/sow/All"
            }).then(res=>{
              if(res.data){
                  var c=0;
                this.sow = res.data;
                this.sow.forEach(item=>{
                    item.count = ++c;
                })
                this.page3 = 1;
                this.paget1 = 1;
                this.paget2 = 1;
                this.pages3 = [];
                var pag = Math.ceil(this.sow.length/this.splitpage);
                for(var i=0;i<pag;i++){
                    this.pages3.push('?');
                }
              }
            });
        }else{
            this.axios({
              method: "get",
              url: app.server() + "/get/sow/search?search="+data,
            }).then(res=>{
              if(res.data){
                  var c=0;
                this.sow = res.data;
                this.sow.forEach(item=>{
                    item.count = ++c;
                })
                this.pages3 = [];
                this.page3 = 1;
                this.paget1 = 1;
                this.paget2 = 1;
                var pag = Math.ceil(this.sow.length/this.splitpage);
                for(var i=0;i<pag;i++){
                    this.pages3.push('?');
                }
              }
            });
        }
    },
    successAlert(){
        this.$swal.fire({
        icon: 'success',
        title: 'Success',
        text: 'ทำรายการสำเร็จ',
        }).then(result=>{
            location.reload();
        });
    },
    warningAlert(){
        this.$swal.fire({
        icon: 'warning',
        title: 'Be Careful!',
        text: 'มีบางอย่างผิดพลาด',
        });
    },
    genGraph(item){
        var path = "/get/summary/mating/";
        if(item.recType == 'S'){
            path += "sire"
        }else{
            path += "dam"
        }
        this.axios({
            method: "get",
            url: app.server() + path +'?id='+ item.sowID
        }).then(res=>{
            var total = res.data.length;
            if(total > 0){
                this.showChart1 = true;
                var x = 0;
                (res.data).forEach(item=>{
                    if(item.status == 1){
                        x++;
                    }

                })
                var y = total - x;
                this.sections = [];
                 this.detail1 = "จากการผสม "+ total + " ครั้ง ติด "+x+" ครั้ง"
                this.sections.push({ label: 'ไม่ติด', value:100-Math.ceil((x/total)*100), color: 'red' })
                this.sections.push({ label: 'ติด', value: Math.ceil((x/total)*100), color: 'green' })
                this.matingPercent = Math.ceil((x/total)*100);
                console.log(this.matingPercent);
               
            }else{
                this.showChart1 = false;
                this.detail1 = "";
                this.$swal.fire({
                icon: 'warning',
                title: 'ไม่มีรายการ',
                text: '',
                });
            }
        });

        if(item.recType == 'D'){
            this.axios({
                method : "get",
                url : app.server() + "/get/summary/birth?id="+item.sowID,
            }).then(res=>{
                if(res.data){
                    var total = res.data.length;
                    if(total > 0){
                        this.showChart2 = true;
                        var x = 0;
                        var y = 0;
                        var tot = 0;
                        res.data.forEach(item=>{
                            x += item.alive;
                            y += item.died + item.mummy;
                            tot += item.died + item.mummy + item.alive;
                        })
                        console.log("x:" +x+"\ny:"+y +"\ntotal:"+tot)
                        this.sections2 = [];
                        this.sections2.push({ label: 'ลูกไม่สมบรูณ์', value: (100-(Math.ceil(x/tot*100))), color: 'orange' })
                        this.sections2.push({ label: 'ลูกสมบรูณ์', value: Math.ceil(x/tot *100), color: 'blue' })
                        this.matingPercent2 = Math.ceil(x/tot *100);
                        this.detail2 = "คลอดทั้งหมด "+ tot + " ตัว ได้ลูกสมบรูณ์ "+x+" ตัว"
                    }else{
                        this.showChart2 = false;
                        this.detail2 = ""
                    }
                }
            })
        }else{
            this.showChart2 = false;
        }
    }
  }
}
</script>

<style>

</style>