<template>
  <div id="sow">
    <Nav v-bind:isActive="8"></Nav>
    <div class="container">
      <div class="col-md-12">
        <div class="card mt-3">
          <div class="card-header text-center">
            <h3>รายงานการผสมพันธุ์</h3>
          </div>
          <div class="card-body">
            <div class="text-right mb-2">
                <div style="color:#B9B9B9;font-style:Italic" v-if="mating_search != ''">ค้นหาเบอร์หูหมายเลข : {{mating_search}}</div>
                <b-input v-model="mating_search" @keyup="searchTable(mating_search)" :placeholder="'ค้นหาเบอร์หู'" class="col-md-4 ml-auto"></b-input>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center">วันที่</th>
                  <th class="text-center">รหัสพ่อพันธุ์</th>
                  <th class="text-center">สายพันธุ์</th>
                  <th class="text-center">รหัสน้ำเชื้อ</th>
                  <th class="text-center">การผสมพันธุ์</th>
                  <th class="text-center">รหัสแม่พันธุ์</th>
                  <th class="text-center">คนผสม</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in report_sire.slice((page-1)*10,((page-1)*10)+10)" :key="item.sowMatingID">
                  <td>{{item.dateshow}}</td>
                  <td class="text-center">{{item.Sire}}</td>
                  <td class="text-center">{{item.breed}}</td>
                  <td class="text-center">{{item.SemenBarcode}}</td>
                  <td class="text-center" v-if="item.status == '0' && item.numday < 15" style="color:#0068A5">ยังไม่ได้ตรวจสอบ ({{item.numday}} วัน)</td>
                  <td class="text-center" v-if="item.status == '0' && item.numday >= 15 && item.numday < 18" style="color:orange">ยังไม่ได้ตรวจสอบ ({{item.numday}} วัน)</td>
                  <td class="text-center" v-if="item.status == '0'  && item.numday >= 18" style="color:red">ยังไม่ได้ตรวจสอบ ({{item.numday}} วัน)</td>
                  <td class="text-center" v-if="item.status == '1'" style="color:#12B820">ผสมติด</td>
                  <td class="text-center" v-if="item.status == '2' && item.numday < 21" style="color:darkred">ผสมไม่ติด({{item.numday}} วัน)</td>
                  <td class="text-center" v-if="item.status == '2' && item.numday > 21" style="color:white"><span style="background-color: black;padding:5px">กลับสัด({{item.numday}} วัน)</span></td>
                  <td class="text-center">{{item.sowCode}}</td>
                  <td class="text-center">{{item.fname}} {{item.lname}}</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12">
                <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-5">
        <div class="card mt-3">
          <div class="card-header text-white bg-dark text-center">
            <h3>รายงานการคลอด</h3>
          </div>
          <div class="card-body">
              <div class="text-right mb-2">
                <div style="color:#B9B9B9;font-style:Italic" v-if="mating_search1 != ''">ค้นหาเบอร์หูหมายเลข : {{mating_search}}</div>
                <b-input v-model="mating_search1" @keyup="searchTable2(mating_search1)" :placeholder="'ค้นหาเบอร์หู'" class="col-md-4 ml-auto"></b-input>
            </div>
            <table class="table table-striped">
              <thead>
            <tr>
              <th class="text-center">วันที่</th>
              <th class="text-center">เบอร์หู</th>
              <th class="text-center">สายพันธุ์</th>
              <th class="text-center">จำนวนลูก</th>
              <th class="text-center">น้ำหนักรวม(กก.)</th>
              <th class="text-center">รอด (ตัว)</th>
              <th class="text-center">ตาย (ตัว)</th>
              <th class="text-center">มัมมี่ (ตัว)</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in report_dam.slice((page2-1)*10,((page2-1)*10)+10)" :key="item.sowBirthID">
              <td>{{item.dateshow}}</td>
              <td class="text-center">{{item.sowCode}}</td>
              <td class="text-center">{{item.breed}}</td>
              <td class="text-center">{{item.alive + item.died + item.mummy}}</td>
              <td class="text-center">{{item.total_weight}}</td>
              <td class="text-center"><label style="color:#800000">{{item.alive}}</label></td>
              <td class="text-center"><label style="color:#800000">{{item.died}}</label></td>
              <td class="text-center"><label style="color:#800000">{{item.mummy}}</label></td>
            </tr>
          </tbody>
            </table>
            <div class="col-md-12">
                <b-pagination-nav align="right" v-model="page2" class="ml-auto" :pages="pages2" use-router></b-pagination-nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '../../components/Nav';
import app from '../../app';
import qs from 'qs';

var count = 0;
export default {
  name: 'Sow',
  components: {
    Nav
  },
  data(){
    return {
      page:1,
      pages1: [],
      page2:1,
      pages2: [],
      report_sire:[],
      report_dam:[],
      mating_search: "",
      mating_search1: ""
    }
  },
  mounted(){
    count = 0;

    this.axios({
      method: "get",
      url: app.server() + "/get/report/sire"
    }).then(res=>{
      if(res.data){
        this.report_sire = res.data;
        this.report_sire.forEach(item=>{
            var d = new Date(item.date);
            var now = new Date();
            var str = d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear();
            item.dateshow = str;
            item.numday = this.getDifferenceInDays(d.getTime(),now.getTime());
        })

        var pag = Math.ceil(this.report_sire.length/10);
        this.pages1 = [];
        for(var i=0;i<pag;i++){
            
            this.pages1.push('?');
        }
      }
    });

    this.axios({
      method: "get",
      url: app.server() + "/get/report/dam"
    }).then(res=>{
      if(res.data){
        this.report_dam = res.data;
        this.report_dam.forEach(item=>{
            var d = new Date(item.date);
            var now = new Date();
            var str = d.getDate()+"/"+d.getMonth()+"/"+d.getFullYear();
            item.dateshow = str;
            item.numday = this.getDifferenceInDays(d.getTime(),now.getTime());
        })
        this.pages2 = [];
        var pag = Math.ceil(this.report_dam.length/10);
        for(var i=0;i<pag;i++){
            this.pages2.push('?');
        }
      }
    })
  },
  methods: {
    getDifferenceInDays(date1, date2) {
            const diffInMs = Math.abs(date2 - date1);
            return parseInt(diffInMs / (1000 * 60 * 60 * 24));
    },
    searchTable(data){
        console.log(data);
        if(data == ''){
            this.axios({
                method: "get",
                url: app.server() + "/get/report/sire"
                }).then(res=>{
                if(res.data){
                    this.report_sire = res.data;
                    this.report_sire.forEach(item=>{
                        var d = new Date(item.date);
                        var now = new Date();
                        var str = d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear();
                        item.dateshow = str;
                        item.numday = this.getDifferenceInDays(d.getTime(),now.getTime());
                    });
                    this.pages1 = [];
                    var pag = Math.ceil(this.report_sire.length/10);
                    this.pages1 = [];
                    for(var i=0;i<pag;i++){
                        this.pages1.push('?');
                    }
                }
            });
        }else{
            this.axios({
                method: "get",
                url: app.server() + "/get/report/sire/search?search="+data,
                }).then(res=>{
                if(res.data){
                    this.report_sire = res.data;
                    this.report_sire.forEach(item=>{
                        var d = new Date(item.date);
                        var now = new Date();
                        var str = d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear();
                        item.dateshow = str;
                        item.numday = this.getDifferenceInDays(d.getTime(),now.getTime());
                    });
                    var pag = Math.ceil(this.report_sire.length/10);
                    this.pages1 = [];
                    for(var i=0;i<pag;i++){
                        this.pages1.push('?');
                    }
                }
            });
        }
    },
    searchTable2(data){
        console.log(data);
        if(data == ''){
            this.axios({
                method: "get",
                url: app.server() + "/get/report/dam"
                }).then(res=>{
                if(res.data){
                    this.report_dam = res.data;
                    this.report_dam.forEach(item=>{
                        var d = new Date(item.date);
                        var str = d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear();
                        item.dateshow = str;
                    })
                    this.page = 1;
                    this.page2 = 1;
                     this.pages2 = [];
                    var pag = Math.ceil(this.report_dam.length/10);
                    for(var i=0;i<pag;i++){
                        this.pages2.push('?');
                    }
                }
            })
        }else{
            this.axios({
                method: "get",
                url: app.server() + "/get/report/dam/search?search="+data,
                }).then(res=>{
                if(res.data){
                    this.report_dam = res.data;
                    this.report_dam.forEach(item=>{
                        var d = new Date(item.date);
                        var str = d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear();
                        item.dateshow = str;
                    })
                     this.pages2 = [];
                    var pag = Math.ceil(this.report_dam.length/10);
                    for(var i=0;i<pag;i++){
                        this.pages2.push('?');
                    }
                }
            });
        }
    },
    successAlert(){
        this.$swal.fire({
        icon: 'success',
        title: 'Success',
        text: 'ทำรายการสำเร็จ',
        }).then(result=>{
            location.reload();
        });
    },
    warningAlert(){
        this.$swal.fire({
        icon: 'warning',
        title: 'Be Careful!',
        text: 'มีบางอย่างผิดพลาด',
        });
    },
  }
}
</script>

<style>

</style>