<template>
  <div id="user">
      <Nav v-bind:isActive="5"></Nav>
      <div class="container">
          <div class="col-md-10 ml-auto mr-auto">
              <div class="form-group card mt-4">
                    <div class="card-header text-center bg-dark text-white">
                        <h3>เพิ่มข้อมูลสุกร</h3>
                    </div>
                    <div class="card-body">
                        <form @submit="sendData">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    <label for="recType" class="col-form-label font-weight-bold ml-2">เพศ : </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="recType" v-model="recType" id="sire" value="S" checked>
                                    <label class="form-check-label" for="sire">พ่อพันธุ์</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="recType" v-model="recType" id="dam" value="D">
                                    <label class="form-check-label" for="dam">แม่พันธุ์</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3 text-right">
                                    <label for="Species" class="col-form-label ml-2 font-weight-bold">สายพันธุ์ :</label>
                                </div>
                                <select v-model="breed" name="species" class="form-control col-md-2">
                                    <option value="LY">Large White</option>
                                    <option value="DR">Duroc</option>
                                    <option value="BS">Berkshire</option>
                                </select>
                            </div>
                            <!-- <div class="row mt-2">
                                <div class="col-md-3 text-right">
                                    <label for="sire" class="col-form-label ml-2 font-weight-bold">รหัสพ่อ :</label>
                                </div>
                                <select v-model="newSow.sire" class="form-contrlo col-md-6">
                                    <option v-for="item in listSire" :key="item.sowID" :value="item.sowID">เบอร์ {{item.sowCode}}</option>
                                </select>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3 text-right">
                                    <label for="dam" class="col-form-label ml-2 font-weight-bold">รหัสแม่ :</label>
                                </div>
                                <select v-model="newSow.dam" class="form-contrlo col-md-6">
                                    <option v-for="item in listDam" :key="item.sowID" :value="item.sowID">เบอร์ {{item.sowCode}}</option>
                                </select>
                            </div> -->

                            <div class="row mt-2">
                                <div class="col-md-3 text-right">
                                    <label for="birth" class="col-form-label ml-2 font-weight-bold">วัน/เดือน/ปีเกิด :</label>
                                </div>
                                <input v-model="birthDate" name="birth" id="birth" type="date" class="col-md-3 ml-2" />
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3 text-right">
                                    <label for="origin" class="col-form-label ml-2 font-weight-bold">ที่มา :</label>
                                </div>
                                <select v-model="origin" name="origin" id="typeUser" class="form-control col-md-4 ml-2">
                                    <option>ฟาร์ม VCF</option>
                                </select>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3 text-right">
                                    <label for="sowCode" class="col-form-label ml-2 font-weight-bold">SowCode :</label>
                                </div>
                                <input v-model="sowCode" class="form-control col-md-5 ml-2" type="text" name="sowCode" id="sowCode" placeholder="เบอร์หู" />
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <router-link to="/sow" type="button" class="col-md-12 btn btn-outline-dark" >กลับ</router-link>
                                </div>
                                <div class="col-md-3 ml-auto">
                                    <button class="col-md-12 btn btn-info" >เพิ่มข้อมูล</button>
                                </div>
                            </div>
                        </form>
                  </div>
                </div>
          </div>
      </div>
  </div>
</template>

<script>
import Nav from '../../components/Nav'
import qs from "qs"
import app from '../../app';

export default {
    name: 'User',
    components: {
        Nav
    },
    data(){
        return {
            recType: null,
            breed: null,
            sire: null,
            dam: null,
            birthDate: null,
            origin: null,
            sowCode: null,
            listSire:[],
            listDam:[],
            newSow:[]
        }
    },
    mounted(){
        this.axios({
            method:"get",
            url: app.server()+"/get/sow/sire",
        }).then(res=>{
            if(res.data){
                this.listSire = res.data;
                var c = 0;
                this.listSire.forEach(item=>{
                    item.count = ++c;
                })
            }
        });

        this.axios({
            method:"get",
            url: app.server()+"/get/sow/dam",
        }).then(res=>{
            if(res.data){
                this.listDam = res.data;
                var c = 0;
                this.listDam.forEach(item=>{
                    item.count = ++c;
                })
            }
        })
    },
    methods: {
        sendData(e){
            e.preventDefault();
            var rectype = this.recType
            var breed = this.breed
            var sire = this.sire
            var dam = this.dam
            var birDate = this.birthDate
            var origin = this.origin
            var sowCode = this.sowCode
            var farmID = JSON.parse(localStorage.getItem('user')).farmID
            console.log(JSON.parse(localStorage.getItem('user')).farmID)

            var data = {recType:rectype,breed:breed,sire:sire,dam:dam,birthDate:birDate,origin:origin,sowCode:sowCode,farmID:farmID}
            console.log(data)

            this.axios({
            method: 'post',
            url: app.server()+'/add/sow',
            data: qs.stringify(data),
            headers: {
                'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
            }
        }).then(res =>{
            console.log(res)
           if(res.data.status == 'success'){
               this.$router.push({name:"sow"})
           }
        })

        }
    }
}
</script>
