/* eslint-disable prettier/prettier */ /* eslint-disable prettier/prettier */ /*
eslint-disable vue/no-parsing-error */
<template>
  <div id="sow">
    <Nav v-bind:isActive="5"></Nav>
    <div class="row col-md-12 mt-2">
      <router-link class="btn btn-outline-info ml-auto" to="/sow/add"
        >เพิ่มข้อมูลสุกร</router-link
      >
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="card mt-3">
          <div class="card-header text-center">
            <h3>ข้อมูลสุกร</h3>
          </div>
          <div class="card-body">
            <div class="text-right mb-2">
              <div style="color:#B9B9B9;font-style:Italic" v-if="search != ''">
                ค้นหาเบอร์หูหมายเลข : {{ search }}
              </div>
              <b-input
                v-model="search"
                @keyup="searchTable(search)"
                :placeholder="'ค้นหาเบอร์หู'"
                class="col-md-4 ml-auto"
              ></b-input>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center">ลำดับ</th>
                  <th class="text-center">UHF</th>
                  <th class="text-center">เบอร์หู</th>
                  <th class="text-center">สายพันธุ์</th>
                  <th class="text-center">เพศ</th>
                  <th class="text-center">โรงเรือน</th>
                  <th class="text-center">ซอง</th>
                  <th class="text-center">จัดการ</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in sow.slice(
                    (page - 1) * 10,
                    (page - 1) * 10 + 10
                  )"
                  :key="item.sowID"
                >
                  <td class="text-center">{{ item.count }}</td>
                  <td class="text-center">{{ item.uhf }}</td>
                  <td class="text-center">{{ item.sowCode }}</td>
                  <td class="text-center">{{ item.breed }}</td>
                  <td class="text-center" v-if="item.recType === 'S'">
                    พ่อพันธุ์
                  </td>
                  <td class="text-center" v-if="item.recType === 'D'">
                    แม่พันธุ์
                  </td>
                  <td class="text-center">
                    {{ item.UNITNAME ? item.UNITNAME : "None" }}
                  </td>
                  <td class="text-center">
                    {{ !item.ROW ? "None" : alpha[item.ROW - 1] + item.COL }}
                  </td>
                  <td class="text-center">
                    <button
                      class="btn btn-info mr-2"
                      v-b-modal="'editBlock_' + item.sowID"
                    >
                      เปลี่ยนซอง
                    </button>
                    <button
                      class="btn btn-warning"
                      v-b-modal="'editSow_' + item.sowID"
                    >
                      แก้ไข
                    </button>

                    <b-modal
                      :id="'editBlock_' + item.sowID"
                      size="lg"
                      title="แก้ไขซอง"
                      hide-footer
                    >
                      <div class="row">
                        <div class="col-md-3 text-right">
                          <label
                            for="recType"
                            class="col-form-label font-weight-bold ml-2"
                            >โรงเรือนปัจจุบัน :
                          </label>
                        </div>
                        <div class="col-md-3 col-form-label">
                          {{ item.UNITNAME ? item.UNITNAME : "None" }}
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-3 text-right">
                          <label
                            for="Species"
                            class="col-form-label ml-2 font-weight-bold"
                            >ซองปัจจุบัน :</label
                          >
                        </div>
                        <div class="col-md-3 col-form-label">
                          {{
                            !item.ROW ? "None" : alpha[item.ROW - 1] + item.COL
                          }}
                        </div>
                      </div>

                      <div class="row mt-2">
                        <div class="col-md-3 text-right">
                          <label
                            for="Species"
                            class="col-form-label ml-2 font-weight-bold"
                            >เลือกโรงเรือนใหม่ :</label
                          >
                        </div>
                        <select
                          name="species"
                          class="form-control col-md-5"
                          v-model="sowBlock.unitID"
                          @change="unitChange"
                        >
                          <option
                            v-for="el in unitLists"
                            :key="el.unitID"
                            :value="el.unitID"
                            >{{ el.unitName }}</option
                          >
                        </select>
                      </div>

                      <div class="row mt-2">
                        <div class="col-md-3 text-right">
                          <label
                            for="sowCode"
                            class="col-form-label ml-2 font-weight-bold"
                            >เลือกซองใหม่ :</label
                          >
                        </div>
                        <select
                          v-model="sowBlock.blockID"
                          class="form-control col-md-5"
                        >
                          <option
                            :value="el.unit_block_id"
                            v-for="el in blockList"
                            :key="el.unit_block_id"
                            >{{ alpha[el.row - 1] + el.col }}</option
                          >
                        </select>
                      </div>

                      <div class="dropdown-divider"></div>
                      <footer>
                        <div class="col-md-12 text-right">
                          <b-button
                            @click="changeBlock(sowBlock, item.sowID)"
                            variant="primary"
                            >แก้ไข</b-button
                          >
                        </div>
                      </footer>
                    </b-modal>

                    <b-modal
                      :id="'editSow_' + item.sowID"
                      size="lg"
                      title="แก้ไขข้อมูลสุกร"
                      hide-footer
                    >
                      <div class="row">
                        <div class="col-md-3 text-right">
                          <label
                            for="recType"
                            class="col-form-label font-weight-bold ml-2"
                            >เพศ :
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="recType"
                            v-model="item.recType"
                            id="sire"
                            value="S"
                            checked
                          />
                          <label class="form-check-label" for="sire"
                            >พ่อพันธุ์</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="recType"
                            v-model="item.recType"
                            id="dam"
                            value="D"
                          />
                          <label class="form-check-label" for="dam"
                            >แม่พันธุ์</label
                          >
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-3 text-right">
                          <label
                            for="Species"
                            class="col-form-label ml-2 font-weight-bold"
                            >สายพันธุ์ :</label
                          >
                        </div>
                        <select
                          v-model="item.breed"
                          name="species"
                          class="form-control col-md-6"
                        >
                          <option value="LY">Large White</option>
                          <option value="DR">Duroc</option>
                          <option value="BS">Berkshire</option>
                        </select>
                      </div>

                      <div class="row mt-2">
                        <div class="col-md-3 text-right">
                          <label
                            for="sowCode"
                            class="col-form-label ml-2 font-weight-bold"
                            >SowCode :</label
                          >
                        </div>
                        <input
                          v-model="item.sowCode"
                          class="form-control col-md-5"
                          type="text"
                          name="sowCode"
                          id="sowCode"
                          placeholder="เบอร์หู"
                        />
                      </div>

                      <div class="dropdown-divider"></div>
                      <footer>
                        <div class="col-md-12 text-right">
                          <b-button @click="editSow(item)" variant="primary"
                            >แก้ไข</b-button
                          >
                        </div>
                      </footer>
                    </b-modal>
                    <button
                      @click="confirmDelete(item.sowID)"
                      class="ml-2 btn btn-danger"
                    >
                      ลบ
                    </button>
                    <b-modal
                      :id="'report_' + item.sowID"
                      size="lg"
                      title="รายงานสุกร"
                      hide-footer
                    >
                      <div class="row mt-2">
                        <div class="col-md-3 text-right">
                          <label
                            for="Species"
                            class="col-form-label ml-2 font-weight-bold"
                            >สายพันธุ์ :</label
                          >
                        </div>
                        <select
                          v-model="item.breed"
                          name="species"
                          class="form-control col-md-6"
                        >
                          <option value="LY">Large White</option>
                          <option value="DR">Duroc</option>
                          <option value="BS">Berkshire</option>
                        </select>
                      </div>

                      <div class="dropdown-divider"></div>
                      <footer>
                        <div class="col-md-12 text-right">
                          <b-button @click="editSow(item)" variant="primary"
                            >แก้ไข</b-button
                          >
                        </div>
                      </footer>
                    </b-modal>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12">
              <b-pagination-nav
                align="right"
                v-model="page"
                class="ml-auto"
                :pages="pages1"
                use-router
              ></b-pagination-nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "../../components/Nav";
import app from "../../app";
import qs from "qs";

var count = 0;
export default {
  name: "Sow",
  components: {
    Nav
  },
  data() {
    return {
      sow: [],
      page: 1,
      pages1: [],
      search: "",
      alpha: ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"],
      unitLists: [],
      sowBlock: {},
      blockList: []
    };
  },
  mounted() {
    count = 0;
    this.axios({
      method: "get",
      url: app.server() + "/get/sow/All",
      headers: {
        "content-type": "application/x-www-form-urlencoded;charset=utf-8"
      }
    }).then(res => {
      var c = 0;
      res.data.forEach(item => {
        item.count = ++c;
        this.sow.push(item);
      });

      var pag = Math.ceil(c / 10);
      this.pages1 = [];
      for (var i = 0; i < pag; i++) {
        this.pages1.push("?");
      }
      console.log(this.sow);
    });

    this.axios({
      method: "get",
      url: app.server() + "/get/unit/All",
      headers: {
        "content-type": "application/x-www-form-urlencoded;charset=utf-8"
      }
    }).then(res => {
      console.log("res : " + JSON.stringify(res.data));
      this.unitLists = res.data;
    });
  },
  methods: {
    changeBlock(item, sowID) {
      let data = {
        sowID: sowID,
        unitBlockID: item.blockID
      };
      let dataJSON = qs.stringify(data);
      this.axios({
        method: "post",
        url: app.server() + "/add/sowblock",
        data: dataJSON
      }).then(res => {
        console.log(res.data);
        if (res.data.status === "success") {
          this.successAlert();
        }
      });
    },
    unitChange() {
      console.log("select : " + JSON.stringify(this.sowBlock.unitID));
      this.axios({
        method: "get",
        url: app.server() + "/get/block/unit?id=" + this.sowBlock.unitID,
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8"
        }
      }).then(res => {
        console.log("blockList : " + JSON.stringify(res.data));
        this.blockList = res.data;
        if (this.blockList) {
          this.sowBlock.unit_block_id = this.blockList[0].unit_block_id;
        }
      });
    },
    searchTable(data) {
      if (data == "") {
        this.axios({
          method: "get",
          url: app.server() + "/get/sow/All",
          headers: {
            "content-type": "application/x-www-form-urlencoded;charset=utf-8"
          }
        }).then(res => {
          this.sow = [];
          var c = 0;
          res.data.forEach(item => {
            item.count = ++c;
            this.sow.push(item);
          });

          var pag = Math.ceil(c / 10);
          this.pages1 = [];
          this.page = 1;
          for (var i = 0; i < pag; i++) {
            this.pages1.push("?");
          }
          console.log(this.sow);
        });
      } else {
        this.axios({
          method: "get",
          url: app.server() + "/get/sow/search?search=" + data,
          headers: {
            "content-type": "application/x-www-form-urlencoded;charset=utf-8"
          }
        }).then(res => {
          this.sow = [];
          var c = 0;
          res.data.forEach(item => {
            item.count = ++c;
            this.sow.push(item);
          });

          var pag = Math.ceil(c / 10);
          this.page = 1;
          this.pages1 = [];
          for (var i = 0; i < pag; i++) {
            this.pages1.push("?");
          }
          console.log(this.sow);
        });
      }
    },
    successAlert() {
      this.$swal
        .fire({
          icon: "success",
          title: "Success",
          text: "ทำรายการสำเร็จ"
        })
        .then(result => {
          location.reload();
        });
    },
    warningAlert() {
      this.$swal.fire({
        icon: "warning",
        title: "Be Careful!",
        text: "มีบางอย่างผิดพลาด"
      });
    },
    editSow(sow) {
      var data = {
        id: sow.sowID,
        sowcode: sow.sowCode,
        breed: sow.breed,
        recType: sow.recType
      };
      var dataJSON = qs.stringify(data);
      this.axios({
        method: "put",
        url: app.server() + "/update/sow",
        data: dataJSON
      }).then(res => {
        if (res.data) {
          if (res.data.status == "success") {
            this.successAlert();
          }
        }
      });
    },
    confirmDelete(id) {
      // Use sweetalert2
      this.$swal
        .fire({
          title: "ยืนยันการลบหรือไม่?",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: `ยืนยัน`
        })
        .then(result => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            var data = {
              id: id
            };
            var dataJSON = qs.stringify(data);
            this.axios({
              method: "delete",
              url: app.server() + "/delete/sow",
              data: dataJSON,
              headers: {
                "content-type":
                  "application/x-www-form-urlencoded;charset=utf-8"
              }
            }).then(res => {
              console.log(res);
              this.successAlert();
            });

            this.$swal.fire("ทำรายการสำเร็จ!", "", "success");
          }
        });
    }
  }
};
</script>

<style></style>
