<template>
  <div id="nav" class="col-md-12 p-0">
    <div class="text-center text-header mt-3 mb-3">การจัดการข้อมูล</div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pointer-mouse">
      <!-- <a class="navbar-brand" href="/" style="font-size:18px">
          <img src="http://www.vcffeedmill.com/images/logo.png" class="p-0" height="40" style="margin-right:-80px">
          ระบบจัดการฟาร์มสุกร
      </a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-md-auto">
        <div class="navbar-nav ml-auto mr-auto">
          <a>
            <router-link
              id="homeNav"
              :class="{ active: Arr[0] }"
              class="nav-link"
              to="/"
              >หน้าแรก</router-link
            >
            <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown">
            <div
              class="nav-link"
              id="dropdownMenuButton"
              :class="{ active: Arr[1] }"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              รายการพนักงาน
            </div>
            <div
              class="dropdown-menu gray-background"
              aria-labelledby="dropdownMenuButton"
            >
              <router-link id="userNav" class="dropdown-item" to="/user">
                จัดการผู้ใช้งาน
              </router-link>
              <router-link id="userNav" class="dropdown-item" to="/employee"
                >จัดการพนักงาน</router-link
              >
              <router-link id="userNav" class="dropdown-item" to="/position"
                >จัดการตำแหน่งพนักงาน</router-link
              >
              <router-link
                id="userNav"
                class="dropdown-item"
                to="/employee/qrcode"
                >พิมพ์รายงาน Qrcode พนักงาน</router-link
              >
            </div>
          </div>

          <a>
            <router-link
              id="userNav"
              :class="{ active: Arr[2] }"
              class="nav-link"
              to="/unit"
              >จัดการโรงเรือน</router-link
            >
          </a>

          <div class="dropdown">
            <div
              class="nav-link"
              id="dropdownMenuButton"
              :class="{ active: Arr[5] }"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              รายการการผสมพันธุ์
            </div>
            <div
              class="dropdown-menu gray-background"
              aria-labelledby="dropdownMenuButton"
            >
              <router-link id="userNav" class="dropdown-item" to="/mating">
                รายการผสมพันธุ์ทั้งหมด
              </router-link>
              <router-link id="userNav" class="dropdown-item" to="/newmating"
                >รายการผสมพันธุ์ที่ไม่ทราบสถานะ</router-link
              >
            </div>
          </div>

          <a>
            <router-link
              id="userNav"
              :class="{ active: Arr[3] }"
              class="nav-link"
              to="/semen"
              >รายการน้ำเชื้อ</router-link
            >
          </a>
          <a>
            <router-link
              id="sowNav"
              :class="{ active: Arr[4] }"
              class="nav-link"
              to="/sow"
              >รายการสุกร</router-link
            >
          </a>

          <div class="dropdown">
            <div
              class="nav-link"
              id="dropdownMenuButton"
              :class="{ active: Arr[6] }"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              รายการวัคซีน
            </div>
            <div
              class="dropdown-menu gray-background"
              aria-labelledby="dropdownMenuButton"
            >
              <router-link id="userNav" class="dropdown-item" to="/vaccine">
                จัดการวัคซีน
              </router-link>
              <router-link id="userNav" class="dropdown-item" to="/sowvaccine"
                >การฉีดวัคซีน</router-link
              >
            </div>
          </div>

          <div class="dropdown">
            <div
              class="nav-link"
              id="dropdownMenuButton"
              :class="{ active: Arr[7] }"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              รายงาน
            </div>
            <div
              class="dropdown-menu gray-background"
              aria-labelledby="dropdownMenuButton"
            >
              <router-link id="userNav" class="dropdown-item" to="/report">
                รายงานสรุปคุณภาพสุกร
              </router-link>
              <router-link id="userNav" class="dropdown-item" to="/report/sire"
                >รายงานพ่อพันธุ์</router-link
              >
              <router-link id="userNav" class="dropdown-item" to="/report/dam"
                >รายงานแม่พันธุ์</router-link
              >
            </div>
          </div>

          <a>
            <router-link id="logoutNav" class="nav-link" to="/logout">
              <i class="fas fa-sign-out-alt"></i>&nbsp;ออกจากระบบ
            </router-link>
          </a>
        </div>
      </div>
    </nav>
    <Style></Style>
  </div>
</template>

<script>
import Style from "../components/style";

export default {
  name: "Nav",
  props: ["isActive"],
  data() {
    return {
      Arr: [false, false, false, false, false, false, false, false],
    };
  },
  beforeMount() {
    this.Arr = [false, false, false, false, false, false, false, false];
    this.Arr[this.isActive - 1] = true;
  },
  components: {
    Style,
  },
  methods: {},
};
</script>

<style scoped>
.text-header {
  font-size: 25px;
}

.text-nav {
  font-size: 19px;
}
</style>
