<template>
    <div>
        
    </div>
</template>

<script>
export default {
    name: 'style',
    components: { ComponentName },
    directives: { DirectiveName },
    data() {
        return {
            
        };
    },
    mounted() {
        
    },
    methods: {
        
    },
};
</script>

<script>
export default {
  name: "Style",
};
</script>

<style>

</style>
