.test {
  color: aqua;
}

.theme-color {
  background-color: #fdffa9 66%;
}
.text-form-head {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  vertical-align: middle;
}

.input-text-form {
  border-radius: 1em;
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
  background: rgba(242, 244, 121, 0.65);
  font-size: 18px;
  margin-right: auto;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.input-text-form:active {
  background: #fdffa9 65%;
}
.input-text-form:focus {
  background: #fdffa9 65%;
  outline: none;
}

.button {
  border-radius: 1em;
  border-width: thin;
  border-color: #0011;
  font-size: 20px;
  padding: 5px 0px;
  background-color: #0cad26, 47%;
}

.button:visited {
  outline: none;
}

.button:focus{
  outline: none;
}

.btn-soft-green {
  background-color: rgba(12, 173, 38, 0.47);
}

.pointer-mouse {
  cursor: pointer;
}

.gray-backgound {
  background: #c4c4c4;
}

.dashboard-box-blue {
  width: 19.1em;
  min-height: 128px;
  background: #3e66df;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 18px;
}
.dashboard-box-red {
  width: 19.1em;
  min-height: 128px;
  background: #fb5555;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 18px;
}
.dashboard-box-orange {
  width: 19.1em;
  min-height: 128px;
  background: #f4ab3e;
  font-weight: 600;
  font-size: 18px;
}
.font-size-2x {
  font-size: 24px;
}
.font-size-3x {
  font-size: 36px;
}
.font-size-4x {
  font-size: 48px;
}

.font-size-5x {
  font-size: 54px;
}
