<template>
  <div id="user">
      <Nav v-bind:isActive="2"></Nav>
      <div class="container">
          <div class="col-md-10 ml-auto mr-auto">
              <div class="form-group card mt-4">
                    <div class="card-header text-center bg-dark text-white">
                        <h3>เพิ่มข้อมูลพนักงาน</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 text-right">
                                <label for="pre" class="col-form-label font-weight-bold ml-2">คำนำหน้า : </label>
                            </div>
                            <select v-model="newEmployee.preID" name="pre" id="pre" class="form-control col-md-3 ml-2">
                                <option v-for="(item) in pre" :key="item.preID" :value="item.preID">{{item.prename}}</option>
                            </select>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 text-right">
                                <label for="fname" class="col-form-label ml-2 font-weight-bold">ชื่อจริง :</label>
                            </div>
                            <input v-model="newEmployee.fname" name="fname" id="fname" type="text" class="col-md-4 ml-2 form-control" />
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 text-right">
                                <label for="lname" class="col-form-label ml-2 font-weight-bold">นามสกุล :</label>
                            </div>
                            <input v-model="newEmployee.lname" name="lname" id="lname" type="text" class="col-md-4 ml-2 form-control" />
                        </div>

                        <!-- <div class="row mt-2">
                            <div class="col-md-3 text-right">
                                <label for="birth" class="col-form-label ml-2 font-weight-bold">วัน/เดือน/ปีเกิด :</label>
                            </div>
                            <input v-model="newEmployee.birthDate" name="birth" id="birth" type="date" class="col-md-3 ml-2 form-control" />
                        </div> -->

                        <div class="row mt-2">
                            <div class="col-md-3 text-right">
                                <label for="typeUser" class="col-form-label ml-2 font-weight-bold">ตำแหน่ง :</label>
                            </div>
                            <select name="position" v-model="newEmployee.position" class="form-control col-md-4 ml-2">
                                <option v-for="(item) in position" :key="item.posID" :value="item.posID">{{item.pos_name}}</option>
                            </select>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3 text-right">
                                <label for="typeUser" class="col-form-label ml-2 font-weight-bold">Unit :</label>
                            </div>
                            <select name="unit" v-model="newEmployee.unitID" class="form-control col-md-4 ml-2">
                                <option v-for="(item) in unit" :key="item.unitID" :value="item.unitID">{{item.unitName}}</option>
                            </select>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3 text-right">
                                <label for="typeUser" class="col-form-label ml-2 font-weight-bold">ฟาร์ม :</label>
                            </div>
                            <select name="farm" v-model="newEmployee.farmID" class="form-control col-md-4 ml-2">
                                <option v-for="(item) in farm" :key="item.farmID" :value="item.farmID">{{item.farmname}}</option>
                            </select>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3">
                                <router-link to="/employee" class="col-md-12 btn btn-outline-dark" >กลับ</router-link>
                            </div>
                            <div class="col-md-3 ml-auto">
                                <button class="col-md-12 btn btn-info" @click="sendForm" >เพิ่มข้อมูล</button>
                            </div>
                        </div>

                        
                  </div>
                </div>
          </div>
      </div>
  </div>
</template>

<script>
import Nav from '../../components/Nav'
import app from '../../app'
import qs from 'qs'
export default {
    name: 'User',
    components: {
        Nav
    },
    data() {
        return {
            position: [],
            unit: [],
            farm:[],
            newEmployee: {},
            pre:[],
            num: 0,
        }
    },
    mounted(){
        this.axios({
            method: "get",
            url: app.server()+"/get/position/All",
        }).then(res=>{
            this.position = res.data;
            if(res.data){
                this.newEmployee.posID = this.position[0].posID;
            }
        });

        this.axios({
            method: "get",
            url: app.server()+"/get/unit/All",
        }).then(res=>{
            this.unit = res.data;
            if(res.data){
                this.newEmployee.posID = this.unit[0].unitID;
            }
        });

        this.axios({
            method: "get",
            url: app.server()+"/get/farm/All",
        }).then(res=>{
            this.farm = res.data;
            if(res.data){
                this.newEmployee.posID = this.farm[0].farmID;
            }
        });
        this.num = 0;
        this.axios({
            method: "get",
            url: app.server()+"/get/prename/All",
        }).then(res=>{
            this.pre = res.data;
            if(res.data){
                this.newEmployee.posID = this.pre[0].preID;
            }
        });

        var code = "Emp";
            
        this.axios({
            method: "get",
            url: app.server()+"/get/employee/All",
        }).then(res=>{
            var d = res.data;
            this.num = d.length;
            console.log(this.num);
        });
    },
    methods: {
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        digitText(num,limit){
            var P = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P'];
            var result = P[((num/limit).toFixed(0))];
            if(num%limit < 10){
                return result+ "0"+num;
            }else if(num%limit < 100) {
                return resutl + num;
            }
        },
        sendForm(){
            console.log(this.newEmployee)
            var data = {
                "fname":this.newEmployee.fname,
                "lname": this.newEmployee.lname,
                "pre" : this.newEmployee.preID,
                "empCode" : "EMP"+this.digitText(this.num+1,100),
                "unitID": this.newEmployee.unitID,
                "farmID" : this.newEmployee.farmID,
                "posID" : this.newEmployee.position,
            }
            var dataJSON = qs.stringify(data);
            console.log(data);
            this.axios({
                method: "post",
                url: app.server() + "/add/employee",
                data: dataJSON,
            }).then(res=>{
                if(res.data){
                    if(res.data.status == "success"){
                        this.successAlert()
                        location.href = '/employee'
                    }
                }
            });
        }
    }
}
</script>
