<template>
  <div id="barcode">
    <Nav v-bind:isActive="2"></Nav>
    <div class="col-md-12 mt-2 form-inline">
      <div class="col-md-12 text-right">
        เลือก unit :
         <select v-model="unitID" id="unit" name="unit" class="form-control ml-auto mr-2">
        <option  v-for="u in unit" :value="u.unitID" :key="u.unitID" @change="changeUnitID(u.unitID)">{{u.unitName}}</option>
        
      </select>
      <button class="btn btn-info mr-2" @click="genPDF">Generate PDF</button>
      <button @click="printPDF" class="btn btn-outline-secondary">
        print
      </button>
      </div>
    </div>
    <div id="showPDF" class="col-md-12" style="text-align:center">
      <div style="width:100%;text-align:center"><h2>{{ header }}</h2></div>
      <br>
      <div style="text-center">
      <table v-if="show" border="1" >
        <thead>
          <tr>
            <th style="text-align:center">ลำดับ</th>
            <th style="text-align:center">QrCode</th>
            <th style="text-align:center">ชิ่อพนักงาน</th>
          </tr>
        </thead>
        <tbody class="col-md-12 text-center" v-for="t in textt" :key="t.count">
          <tr>
            <td style="text-align:center">
              <br>
              <strong>{{t.count}}</strong>
            </td>
            <td style="text-align:center">
              <vue-qrcode :width="120" :quality="1" :scale="4" :value="t.code" />
            </td>
            <td style="text-align:left">
              <span style="width:100%">
                <br>
                <strong> {{ t.name }} </strong></span
              >
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "../../components/Nav";
import qs from "qs";
import app from "../../app"
import pdfMake from 'pdfmake';
import pdfFonts from '../../assets/custom-fonts';
pdfMake.vfs = pdfFonts.pdfMake.vfs;
var htmlToPdfmake = require("html-to-pdfmake");
import VueQrcode from "vue-qrcode";
export default {
  name: "Barcode",
  data() {
    return {
      name1: "TEST1",
      textt: [],
      header: "",
      unit:[],
      show : false,
      unitID:"",
    };
  },
  components: {
    Nav,
    VueQrcode
  },
  mounted(){
    this.axios({
      method:"get",
      url: app.server()+"/get/unit/All"
    }).then(res=>{
      var x=0;
      if(res.data){
        x++;
        if(x==1) this.unitID = res.data[0].unitID;
        this.unit = res.data;
      }
    });
  },
  methods: {
    changeUnitID(id){
      this.unitID = id;
      console.log(this.unitID);
    },
    genPDF() {
      this.textt = [];
      this.show = true;
      this.axios({
        method : "get",
        url : app.server()+"/get/employee/unit?unit="+this.unitID,
      }).then(res=>{
        this.textt;
        if(res.data){
          var data = res.data;
          var x=0;
          data.forEach(item=>{
            x++;
            this.textt.push({'count':x,'name':item.fname+" "+item.lname,'code':item.empCode});
          });
        }
        this.header = "QRCODE พนักงาน";
      });
      
    },
    printPDF() {
      pdfMake.fonts = {
        // download default Roboto font from cdnjs.com
        Roboto: {
          normal: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf',
          bold: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf',
          italics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf',
          bolditalics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf'
        },
        // Kanit Font
          Kanit: { // 3. set Kanit font
          normal: 'Kanit-Regular.ttf',
          bold: 'Kanit-Medium.ttf',
          italics: 'Kanit-Italic.ttf',
          bolditalics: 'Kanit-MediumItalic.ttf'          
        },
        // Prompt Font
          Prompt: { // 3. set Kanit font
          normal: 'Prompt-Regular.ttf',
          bold: 'Prompt-Medium.ttf',
          italics: 'Prompt-Italic.ttf'    
        }
      }
      var html = htmlToPdfmake(document.getElementById("showPDF").innerHTML);
      var win = window.open("", "_blank");
      var docDefinition = {
        content: [html],
        defaultStyle: { // 4. default style 'KANIT' font to test
          font: 'Prompt'
        },
        pageBreakBefore: function(currentNode) {
          return (
            currentNode.style &&
            currentNode.style.indexOf("pdf-pagebreak-before") > -1
          );
        },
        style: function(currectNode) {
          return currectNode.style && currectNode.style.indexOf("text-center");
        }
      };

      let pdfDocGenerator = pdfMake.createPdf(docDefinition);
      try {
        //pdfDocGenerator.open({}, win);
        pdfDocGenerator.print({}, win)
      } catch (err) {
        console.log(err);
      }
    }
  }
};
</script>
