<template>
    <div>
        <Nav :isActive="2"></Nav>
        <center class="mt-2"><h3>รายการพนักงาน</h3></center>
        <div class="row col-md-12 mt-2">
          <div class="col-md-auto ml-auto">
              <router-link class="btn btn-outline-info" to="/employee/add">เพิ่มพนักงาน</router-link>
              <router-link class="btn btn-outline-primary ml-2" to="/employee/qrcode">พิมพ์บาร์โค๊ดผู้ใช้</router-link>
          </div>
       </div>
        <div class="container">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="mt-4">
                    <div class="text-right mb-2">
                        <div style="color:#B9B9B9;font-style:Italic" v-if="search != ''">ค้นหา : {{search}}</div>
                        <b-input v-model="search" @keyup="searchTable(search)" :placeholder="'ค้นหา'" class="col-md-4 ml-auto"></b-input>
                    </div>
                    <table class="table table-striped">
                        <thead >
                            <tr>
                                <th>ลำดับ</th>
                                <th>รหัสพนักงาน</th>
                                <th>ชื่อ-นามสกุล</th>
                                <th>ตำแหน่ง</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>
                        <tbody  >
                            <tr v-for="(item) in employee.slice((page-1)*10,((page-1)*10)+10)" :key="item.empID">
                                <td>{{item.count}}</td>
                                <td>{{item.empCode}}</td>
                                <td>{{item.fname}} {{item.lname}}</td>
                                <td>{{item.pos_name}}</td>
                                <td>
                                    <button v-b-modal="'editEmp_'+item.empID" name="edit" class="btn btn-warning">แก้ไข</button>

                                    <b-modal :id="'editEmp_'+item.empID" size="lg" title="แก้ไขข้อมูลพนักงาน" hide-footer>

                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">EMP CODE : </label>
                                            </div>
                                            <input v-model="item.empCode" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">คำนำหน้า : </label>
                                            </div>
                                            <select v-model="item.preID" name="pre" id="pre" class="form-control col-md-3 ml-2">
                                                <option v-for="(items) in pre" :key="items.preID" :value="items.preID" >
                                                    {{items.prename}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="fname" class="col-form-label ml-2 font-weight-bold">ชื่อจริง :</label>
                                            </div>
                                            <input v-model="item.fname" name="fname" id="fname" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="lname" class="col-form-label ml-2 font-weight-bold">นามสกุล :</label>
                                            </div>
                                            <input v-model="item.lname" name="lname" id="lname" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="typeUser" class="col-form-label ml-2 font-weight-bold">ตำแหน่ง :</label>
                                            </div>
                                            <select name="position" v-model="item.posID" class="form-control col-md-4 ml-2">
                                                <option v-for="(items) in position" :key="items.posID" :value="items.posID">{{items.pos_name}}</option>
                                            </select>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="typeUser" class="col-form-label ml-2 font-weight-bold">Unit :</label>
                                            </div>
                                            <select name="unit" v-model="item.unitID" class="form-control col-md-4 ml-2">
                                                <option v-for="(items) in unit" :key="items.unitID" :value="items.unitID">{{items.unitName}}</option>
                                            </select>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="typeUser" class="col-form-label ml-2 font-weight-bold">ฟาร์ม :</label>
                                            </div>
                                            <select name="farm" v-model="item.farmID" class="form-control col-md-4 ml-2">
                                                <option v-for="(items) in farm" :key="items.farmID" :value="items.farmID">{{items.farmname}}</option>
                                            </select>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <footer >
                                            <div class="col-md-12 text-right">
                                                <b-button @click="editEmployee(item)" variant="primary">แก้ไข</b-button>
                                            </div>
                                        </footer>
                                    </b-modal>

                                    <button name="delete" @click="confirmDelete(item.empID)" class="btn btn-danger ml-2">ลบ</button>
                                    <b-button v-if="item.username == null" variant="outline-primary" v-b-modal="'addUser_'+item.empID" class="ml-2">เพิ่มเป็นผู้ใช้{{item.username}}</b-button>
                                    <b-modal :id="'addUser_'+item.empID" size="lg" title="เพิ่มข้อมูลผู้ใช้" hide-footer>
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">username : </label>
                                            </div>
                                            <input v-model="user.username" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">password : </label>
                                            </div>
                                            <input v-model="user.password" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>
                                        <div class="row mt-2">
                                            <b-form-checkbox v-model="user.admin" @change="checkBox()" type="checkbox" class="ml-2 col-md-3 text-right" />
                                            <div class="col-md-3">
                                                <label for="fname">Admin</label>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <footer >
                                            <div class="col-md-12 text-right">
                                                <b-button @click="addUser(user,item.empID)" variant="primary">ตกลง</b-button>
                                            </div>
                                        </footer>
                                    </b-modal>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
            </div>
        </div>
    </div>
</template>

<script>
import Nav from "../../components/Nav";
import app from "../../app";
import qs from "qs";

export default {
    name: 'employee',
    components: { Nav },
    data() {
        return {
            employee : [],
            count: 0,
            position: [],
            unit: [],
            farm:[],
            pre:[],
            user: [],
            page:1,
            pages1: [],
            search:"",
        };
    },
    mounted() {
        this.count = 0;
        this.axios({
            method: "get",
            url: app.server()+"/get/employee/All",
        }).then(res=>{
            console.log(res);
            this.employee = res.data;
            var c = 0;
            this.employee.forEach(item=>{
                c++;
                item.count = c;
            });
            console.log(this.employee);
            var pag = Math.ceil(c/10);
            this.pages1 = [];
            for(var i=0;i<pag;i++){
                this.pages1.push('?');
            }
        
        })
        this.axios({
            method: "get",
            url: app.server()+"/get/position/All",
        }).then(res=>{
            this.position = res.data;
        });

        this.axios({
            method: "get",
            url: app.server()+"/get/unit/All",
        }).then(res=>{
            this.unit = res.data;
        });

        this.axios({
            method: "get",
            url: app.server()+"/get/farm/All",
        }).then(res=>{
            this.farm = res.data;
        });

        this.axios({
            method: "get",
            url: app.server()+"/get/prename/All",
        }).then(res=>{
            this.pre = res.data;
        });

    },
    computed: {
        init(){
            this.count = 0;
        }
    },
    methods: {
        searchTable(data){
            if(data == ''){
                this.axios({
                    method: "get",
                    url: app.server()+"/get/employee/All",
                }).then(res=>{
                    console.log(res);
                    this.employee = res.data;
                    var c = 0;
                    this.employee.forEach(item=>{
                        c++;
                        item.count = c;
                    });
                    console.log(this.employee);
                    var pag = Math.ceil(c/10);
                    this.page = 1;
                    this.pages1 = [];
                    for(var i=0;i<pag;i++){
                        this.pages1.push('?');
                    }
                });
            }else{
                this.axios({
                    method: "get",
                    url: app.server()+"/get/employee/search?search="+data,
                }).then(res=>{
                    console.log(res);
                    this.employee = res.data;
                    var c = 0;
                    this.employee.forEach(item=>{
                        c++;
                        item.count = c;
                    });
                    console.log(this.employee);
                    var pag = Math.ceil(c/10);
                    this.pages1 = [];
                    this.page = 1;
                    for(var i=0;i<pag;i++){
                        this.pages1.push('?');
                    }
                });
            }
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        addUser(user,id){
            var t = 0;
            if(user.isAdmin) t = 1;
            var data = {
                "username": user.username,
                "password": user.password,
                "isAdmin" : t,
                "id": id
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "post",
                url : app.server()+"/add/user",
                data: dataJSON,
            }).then(res=>{
                if(res.data){
                    var obj = qs.parse(res.data);
                    if(obj.status == 'success'){
                        this.successAlert();
                    }
                }
            });
        },
        checkBox(){
            console.log(this.user);
        },
         editEmployee(emp){
            var data = {
                "id": emp.empID,
                "fname": emp.fname,
                "lname" : emp.lname,
                "pre": emp.preID,
                "empCode" : emp.empCode,
                "unitID" : emp.unitID,
                "posID" : emp.posID
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "put",
                url: app.server() + "/update/employee",
                data: dataJSON,
            }).then(res=>{
                var result = qs.parse(res.data);
                if(result.status){
                    if(result.status == "success"){
                        this.show = false;
                        this.successAlert();
                    }
                }
            });
        },
        confirmDelete(id) {
            // Use sweetalert2
            this.$swal.fire({
                title: 'ยืนยันการลบหรือไม่?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var data = {
                            'id': id,
                        };
                        var dataJSON = qs.stringify(data);
                        console.log("delete : ",dataJSON);
                        this.axios({
                            method: "delete",
                            url: app.server()+"/delete/employee",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.successAlert();
                        })

                    this.$swal.fire('ทำรายการสำเร็จ!', '', 'success')
                }
            });
        },
    },
};
</script>