<template>
    <div>
        <Nav :isActive="2"></Nav>
        <div class="row col-md-12 mt-2">
          <div class="col-md-auto ml-auto">
              <b-button variant="info" v-b-modal="'addPosition'">เพิ่มตำแหน่ง</b-button>
              
              <b-form>
              <b-modal v-model="show" id="addPosition" title="เพิ่มตำแหน่ง" hide-footer>
                <div class="row">
                    <div class="col-md-4 col-form-label text-right font-weight-bold">
                        ชื่อตำแหน่ง :
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" class="form-control" v-model="newPosName" >
                    </div>
                </div>

                <div class="dropdown-divider"></div>
                <footer >
                    <div class="col-md-12 text-right">
                        <b-button @click="addNewPosition()" variant="primary">เพิ่มตำแหน่ง</b-button>
                    </div>
                </footer>
              </b-modal>
              </b-form>
          </div>
      </div>
        <div class="container">
            <center class="mt-2"><h3>ตำแหน่ง</h3></center>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="mt-4">
                    <div class="text-right mb-2">
                        <div style="color:#B9B9B9;font-style:Italic" v-if="search != ''">ค้นหา : {{search}}</div>
                        <b-input v-model="search" @keyup="searchTable(search)" :placeholder="'ค้นหา'" class="col-md-4 ml-auto"></b-input>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead >
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">ชื่อตำแหน่ง</th>
                                <th class="text-center">จัดการ</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr v-for="(item) in position.slice((page-1)*10,((page-1)*10)+10)" :key="item.empID">
                                <td>{{item.count}}</td>
                                <td>{{item.pos_name}}</td>
                                <td class="text-center">
                                    <b-button v-b-modal="'editPos'+item.posID" name="edit" class="btn btn-warning">แก้ไข</b-button>

                                    <b-modal :id="'editPos'+item.posID" title="เพิ่มตำแหน่ง" hide-footer>
                                        <div class="row">
                                            <div class="col-md-4 col-form-label text-right font-weight-bold">
                                                ชื่อตำแหน่ง :
                                            </div>
                                            <div class="col-md-7 text-left">
                                                <input type="text" class="form-control" v-model="item.pos_name" >
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <footer >
                                            <div class="col-md-12 text-right">
                                                <b-button @click="editPosition(item)" variant="primary">แก้ไข</b-button>
                                            </div>
                                        </footer>
                                    </b-modal>

                                    <button  @click="confirmDelete(item.posID)" name="delete" class="btn btn-danger ml-2">ลบ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
            </div>
        </div>
    </div>
</template>

<script>
import Nav from "../../components/Nav";
import app from "../../app";
import qs from "qs";

var count = 0;
export default {
    name: 'position',
    components: { Nav },
    data() {
        return {
            position : [],
            count: 0,
            newPosName:"",
            show: false,
            page:1,
            pages1: [],
            search: "",
        };
    },
    mounted() {
        this.count = 0;
        this.axios({
            method: "get",
            url: app.server()+"/get/position/All",
        }).then(res=>{
            console.log(res)
            this.position = res.data;
            var c=0
            this.position.forEach(item=>{
                c++;
                item.count = c;
            });
            var pag = Math.ceil(c/10);
            this.pages1 = [];
            for(var i=0;i<pag;i++){
                this.pages1.push('?');
            }
        })
    },
    computed: {
        init(){
            this.count = 0;
        }
    },
    methods: {
        searchTable(data){
            if(data == ''){
                this.axios({
                    method: "get",
                    url: app.server()+"/get/position/All",
                }).then(res=>{
                    console.log(res)
                    this.position = [];
                    this.position = res.data;
                    var c=0
                    this.position.forEach(item=>{
                        c++;
                        item.count = c;
                    });
                    var pag = Math.ceil(c/10);
                    this.page=1;
                    this.pages1 = [];
                    for(var i=0;i<pag;i++){
                        this.pages1.push('?');
                    }
                })
            }else{
                this.axios({
                    method: "get",
                    url: app.server()+"/get/position/search?search="+data,
                }).then(res=>{
                    console.log(res)
                    this.position = [];
                    this.position = res.data;
                    var c=0
                    this.position.forEach(item=>{
                        c++;
                        item.count = c;
                    });
                    var pag = Math.ceil(c/10);
                    this.pages1 = [];
                    this.page = 1;
                    for(var i=0;i<pag;i++){
                        this.pages1.push('?');
                    }
                })
            }
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        addNewPosition(){
            console.log(localStorage.getItem("user"));
            var user = JSON.parse(localStorage.getItem("user"));
            console.log(user);
            var data = {
                'name':this.newPosName,
                'farmID': user.farmID,
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "post",
                url: app.server()+"/add/position",
                data: dataJSON,
            }).then(res=>{
                var result = qs.parse(res.data);
                if(result.status){
                    if(result.status == "success"){
                        this.show = false;
                        this.successAlert();
                    }
                }
            });

        },
        editPosition(pos){
            var data = {
                "name": pos.pos_name,
                "id": pos.posID
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "put",
                url: app.server() + "/update/position",
                data: dataJSON,
            }).then(res=>{
                var result = qs.parse(res.data);
                if(result.status){
                    if(result.status == "success"){
                        this.show = false;
                        this.successAlert();
                    }
                }
            });
        },
        confirmDelete(id) {
            // Use sweetalert2
            this.$swal.fire({
                title: 'ยืนยันการลบหรือไม่?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var data = {
                            'id': id,
                        };
                        var dataJSON = qs.stringify(data);
                        this.axios({
                            method: "delete",
                            url: app.server()+"/delete/position",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.successAlert();
                        })

                    this.$swal.fire('ทำรายการสำเร็จ!', '', 'success')
                }
            });
        },
    }
};
</script>