<template>
  <div id="user">
      <Nav v-bind:isActive="2"></Nav>
      <div class="container pt-2">
          <center><h3>รายการผู้ใช้ระบบ</h3></center>
          <div class="col-md-12 ml-auto mr-auto">
              <div class="form-group mt-2">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="text-right mb-2">
                                <div style="color:#B9B9B9;font-style:Italic" v-if="search != ''">ค้นหา : {{search}}</div>
                                <b-input v-model="search" @keyup="searchTable(search)" :placeholder="'ค้นหา'" class="col-md-4 ml-auto"></b-input>
                            </div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>รหัสพนักงาน</th>
                                        <th>ชื่อ-นามสกุล</th>
                                        <th>ตำแหน่ง</th>
                                        <th>username</th>
                                        <th>จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr v-for="(item) in users.slice((page-1)*10,((page-1)*10)+10)" :key="item.empID" >
                                        <td>{{item.count}}</td>
                                        <td>{{item.empCode}}</td>
                                        <td>{{item.fname}} {{item.lname}}</td>
                                        <td>{{item.pos_name}}</td>
                                        <td>{{item.username}}</td>
                                        <td>
                                            <button class="btn btn-warning" @click="$bvModal.show('editUser_'+item.empID)">แก้ไข</button>
                                            <button @click="confirmDelete(item.empID)" class="ml-2 btn btn-danger">ลบ</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                  </div>
                </div>
          </div>
            <div class="col-md-12">
                <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
            </div>
          <div >
              <b-modal v-for="(item) in users" :key="item.empID" :id="'editUser_'+item.empID" size="lg" title="แก้ไขข้อมูลผู้ใช้" :hideFooter='true' >
                <div class="row mb-2">
                    <div class="col-md-3 text-right col-form-label">
                        username :
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="item.username" />
                    </div>
                </div>

                <div class="row mt-2">
                    <b-form-checkbox v-model="item.admin" type="checkbox" class="ml-2 col-md-3 text-right" />
                    <div class="col-md-3">
                        <label for="fname">Admin</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-3 text-right col-form-label">
                        password :
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" v-model="item.password" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3 text-right col-form-label">
                        confirm password :
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" v-model="item.confpassword" />
                    </div>
                </div>

    
                <div class="w-100">
                <b-button
                    @click="editData(item.empID)"
                    variant="primary"
                    size="ml"
                    class="float-right">
                    แก้ไข
                </b-button>
                </div>
            </b-modal>
          </div>
        
      </div>
  </div>
</template>

<script>
import Nav from '../../components/Nav'
import app from '../../app';
import qs from "qs"

var count = 0;
export default {
    name: 'User',
    components: {
        Nav
    },
    data() {
        return {
            users: [],
            show: false,
            page:1,
            pages1: [],
            search:""
        }
    },
    mounted() {
        this.count = 0;
        this.axios({
            method: "get",
            url: app.server()+"/get/user/All",
        }).then(res=>{
            console.log(res)
            this.users = [];
            this.users = res.data
            var c=0
            this.users.forEach(item=>{
                c++;
                item.count = c;
                item.admin = false;
                if(item.isAdmin === 1) item.admin = true;
            })
            console.log(this.users)

            var pag = (c/10).toFixed(0);
            this.pages1 = [];
            for(var i=0;i<pag;i++){
                this.pages1.push('?');
            }
        })
    },
    methods:{
        searchTable(data){
            if(data == ''){
                this.axios({
                    method: "get",
                    url: app.server()+"/get/user/All",
                }).then(res=>{
                    console.log(res)
                    this.users = [];
                    this.users = res.data
                    var c=0
                    this.users.forEach(item=>{
                        c++;
                        item.count = c;
                        item.admin = false;
                        if(item.isAdmin === 1) item.admin = true;
                    })

                    var pag = (c/10).toFixed(0);
                    this.pages1 = [];
                    this.page = 1;
                    for(var i=0;i<pag;i++){
                        this.pages1.push('?');
                    }
                })
            }else{
                this.axios({
                    method: "get",
                    url: app.server()+"/get/user/search?search="+data,
                }).then(res=>{
                    console.log(res)
                    this.users = [];
                    this.users = res.data
                    var c=0
                    this.users.forEach(item=>{
                        c++;
                        item.count = c;
                        item.admin = false;
                        if(item.isAdmin === 1) item.admin = true;
                    })

                    var pag = (c/10).toFixed(0);
                    this.pages1 = [];
                    this.page = 1;
                    for(var i=0;i<pag;i++){
                        this.pages1.push('?');
                    }
                })
            }
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        confirmDelete(id) {
            // Use sweetalert2
            this.$swal.fire({
                title: 'ยืนยันการลบหรือไม่?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    var data = {
                            'id': id,
                        };
                        var dataJSON = qs.stringify(data);
                        this.axios({
                            method: "post",
                            url: app.server()+"/delete/user",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.successAlert();
                        })

                    this.$swal.fire('ทำรายการสำเร็จ!', '', 'success')
                }
            });
        },
        editData(id){
            this.users.map(user=>{
                if(user.empID === id){
                    console.log(user);
                    if(user.password != ''){
                        if(user.password != user.confpassword){
                            this.$swal.fire({
                                icon: 'warning',
                                title: 'ผิดพลาด!',
                                text: 'กรอกรหัสผ่านไม่ตรงกัน',
                            });
                            
                            return;
                        }else{
                            var isAdmin = 0;
                            if(user.admin) isAdmin = 1;
                            var data = {
                            'id': user.empID,
                            'username': user.username,
                            'password': user.password,
                            'isAdmin': isAdmin
                            };
                            var dataJSON = qs.stringify(data);
                            this.axios({
                                method: "put",
                                url: app.server()+"/update/user",
                                data: dataJSON,
                                headers: {
                                "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                                },
                            }).then(res=>{
                                console.log(res)
                                this.show=false;
                                this.successAlert();
                            })
                        }
                        
                    }else{
                        var data = {
                            'id': user.empID,
                            'username': user.username,
                            'isAdmin': user.isAdmin
                        };
                        var dataJSON = qs.stringify(data);
                        this.axios({
                            method: "post",
                            url: app.server()+"/update/user",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.show=false;
                            this.successAlert();
                        })
                    }
                }
            });
        },
        
        
    }
}
</script>
