<template>
    <div>
        <Nav :isActive="7"></Nav>
        <div class="container">
            <center class="mt-2"><h3>การฉีดวัคซีน</h3></center>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="mt-4">
                    <div class="text-right mb-2">
                        <div style="color:#B9B9B9;font-style:Italic" v-if="search != ''">ค้นหา : {{search}}</div>
                        <b-input v-model="search" @keyup="searchTable(search)" :placeholder="'ค้นหา'" class="col-md-4 ml-auto"></b-input>
                    </div>
                    <table class="table table-striped">
                        <thead >
                            <tr>
                                <th>ลำดับ</th>
                                <th>วันที่</th>
                                <th>รอบถัดไป</th>
                                <th>เบอร์หู</th>
                                <th>ชื่อวัคซีน</th>
                                <th>หมายเหตุ</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>
                        <tbody  >
                            <tr v-for="(item) in vaccine.slice((page-1)*10,((page-1)*10)+10)" :key="item.sowVaccineID">
                                <td>{{item.count}}</td>
                                <td>{{item.dateshow}}</td>
                                <td>{{item.nextDate}}</td>
                                <td>{{item.sowCode}}</td>
                                <td>{{item.vaccineName}}</td>
                                <td>{{item.comment}}</td>
                                <td>
                                    <button v-b-modal="'editVaccine_'+item.sowVaccineID" name="edit" class="btn btn-warning">แก้ไข</button>
                                    <button name="edit" @click="confirmDelete(item.sowVaccineID)" class="btn btn-danger ml-2">ลบ</button>
                                    <b-modal :id="'editVaccine_'+item.sowVaccineID" size="lg" title="แก้ไขรายการฉีดวัคซีน" hide-footer>
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">วัคซีน : </label>
                                            </div>
                                            <select v-model="item.vaccineID" class="form-control col-md-6 ml-2">
                                                <option v-for="v in listVaccine" :key="v.vaccineID" :value="v.vaccineID">{{v.vaccineName}}</option>
                                            </select>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">หมายเหตุ : </label>
                                            </div>
                                            <input v-model="item.comment" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <footer >
                                            <div class="col-md-12 text-right">
                                                <b-button @click="editVaccine(item)" variant="primary">แก้ไข</b-button>
                                            </div>
                                        </footer>
                                    </b-modal>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
            </div>
        </div>
    </div>
</template>

<script>
import Nav from "../../components/Nav";
import app from "../../app";
import qs from "qs";

export default {
    name: 'sowVaccine',
    components: { Nav },
    data() {
        return {
            farm:[],
            newVaccine: {},
            vaccine:[],
            page:1,
            pages1: [],
            listVaccine:[],
            search: "",
        };
    },
    mounted() {
        this.axios({
            method: "get",
            url: app.server() + "/get/sowvaccine/All",
        }).then(res=>{
            if(res.data){
                this.vaccine = res.data;
                var c = 0;
                this.vaccine.forEach(item=>{
                    item.count = ++c;
                    var d = new Date(item.date);
                    var str = d.getDate() + "/"+(d.getMonth()+1)+"/"+d.getFullYear();
                    item.dateshow = str;
                    if(item.roundTime != null){
                         d.setDate(d.getDate() + parseInt(item.roundTime));
                        item.nextDate = d.getDate() + "/"+(d.getMonth()+1)+"/"+d.getFullYear();
                    }else{
                         
                        item.nextDate = "ไม่มีการฉีดรอบถัดไป";
                    }
                   
                })
                this.pages1 = [];
                var pag = Math.ceil(c/10)
                for(var i=0;i<pag;i++){
                    this.pages1.push('?');
                }
            }
        });
        this.axios({
            method: "get",
            url: app.server()+"/get/farm/All",
        }).then(res=>{
            if(res.data){
                this.farm = res.data;
                this.newVaccine.farmID = this.farm[0].farmID;
            }
        });

        this.axios({
            method: "get",
            url: app.server()+"/get/vaccine/All",
        }).then(res=>{
            if(res.data){
                this.listVaccine = res.data;
            }
        });
    },
    computed: {
        init(){
            this.count = 0;
        }
    },
    methods: {
        searchTable(data){
            if(data == ''){
                this.axios({
                    method: "get",
                    url: app.server() + "/get/sowvaccine/All",
                }).then(res=>{
                    if(res.data){
                        this.vaccine = res.data;
                        var c = 0;
                        this.vaccine.forEach(item=>{
                            item.count = ++c;
                            var d = new Date(item.date);
                            var str = d.getDate() + "/"+(d.getMonth()+1)+"/"+d.getFullYear();
                            item.dateshow = str;
                            if(item.roundTime != null){
                                d.setDate(d.getDate() + parseInt(item.roundTime));
                                item.nextDate = d.getDate() + "/"+(d.getMonth()+1)+"/"+d.getFullYear();
                            }else{
                                
                                item.nextDate = "ไม่มีการฉีดรอบถัดไป";
                            }
                        })
                        this.pages1 = [];
                        this.page = 1;
                        var pag = Math.ceil(c/10)
                        for(var i=0;i<pag;i++){
                            this.pages1.push('?');
                        }
                    }
                });
            }else{
                this.axios({
                    method: "get",
                    url: app.server() + "/get/sowvaccine/search?search="+data,
                }).then(res=>{
                    if(res.data){
                        this.vaccine = res.data;
                        var c = 0;
                        this.vaccine.forEach(item=>{
                            item.count = ++c;
                            var d = new Date(item.date);
                            var str = d.getDate() + "/"+(d.getMonth()+1)+"/"+d.getFullYear();
                            item.dateshow = str;
                            if(item.roundTime != null){
                                d.setDate(d.getDate() + parseInt(item.roundTime));
                                item.nextDate = d.getDate() + "/"+(d.getMonth()+1)+"/"+d.getFullYear();
                            }else{
                                
                                item.nextDate = "ไม่มีการฉีดรอบถัดไป";
                            }
                        })
                        this.pages1 = [];
                        this.page = 1;
                        var pag = Math.ceil(c/10)
                        for(var i=0;i<pag;i++){
                            this.pages1.push('?');
                        }
                    }
                });
            }
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        editVaccine(vaccine){
            var data = {
                "id": vaccine.sowVaccineID,
                "vaccineID":vaccine.vaccineID,
                "sowID" : vaccine.sowID,
                "empID" : vaccine.empID,
                "comment": vaccine.comment
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "put",
                url: app.server()+"/update/sowvaccine",
                data : dataJSON,
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert()
                    }
                }
            })
        },
        confirmDelete(id) {
            // Use sweetalert2
            this.$swal.fire({
                title: 'ยืนยันการลบหรือไม่?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var data = {
                            'id': id,
                        };
                        var dataJSON = qs.stringify(data);
                        console.log("delete : ",dataJSON);
                        this.axios({
                            method: "delete",
                            url: app.server()+"/delete/sowvaccine",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.successAlert();
                        })

                    this.$swal.fire('ทำรายการสำเร็จ!', '', 'success')
                }
            });
        },
    },
};
</script>