<template>
    <div>
        <Nav :isActive="7"></Nav>
        <div class="row col-md-12 mt-2 ">
          <div class="col-md-auto ml-auto">
              <button v-b-modal="'addVaccine'" name="edit" class="btn btn-info">เพิ่มวัคซีน</button>
                <b-modal :id="'addVaccine'" size="lg" title="เพิ่มวัคซีน" hide-footer>
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <label for="pre" class="col-form-label font-weight-bold ml-2">ชื่อวัคซีน : </label>
                        </div>
                        <input v-model="newVaccine.vaccineName" type="text" class="col-md-4 ml-2 form-control" />
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-3 text-right">
                            <label for="pre" class="col-form-label font-weight-bold ml-2">รหัสวัคซีน : </label>
                        </div>
                        <input v-model="newVaccine.vaccineCode" type="text" class="col-md-4 ml-2 form-control" />
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-3 text-right">
                            <label for="pre" class="col-form-label font-weight-bold ml-2">รอบการฉีด (วัน) : </label>
                        </div>
                        <input v-model="newVaccine.roundTime" type="text" class="col-md-4 ml-2 form-control" />
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-3 text-right">
                            <label for="pre" class="col-form-label font-weight-bold ml-2">ฟาร์ม : </label>
                        </div>
                        <select @change="genCode()" v-model="newVaccine.farmID" class="form-control col-md-6 ml-2">
                            <option v-for="f in farm" :key="f.farmID" :value="f.farmID">{{f.farmname}}</option>
                        </select>
                    </div>

                    <div class="dropdown-divider"></div>
                    <footer >
                        <div class="col-md-12 text-right">
                            <b-button @click="addVaccine(newVaccine)" variant="primary">เพิ่มวัคซีน</b-button>
                        </div>
                    </footer>
                </b-modal>
          </div>
       </div>
        <div class="container">
            <center><h3>วัคซีน</h3></center>
            <div class="col-md-12 ml-auto mr-auto">
                <div class="mt-4">
                    <div class="text-right mb-2">
                        <div style="color:#B9B9B9;font-style:Italic" v-if="search != ''">ค้นหา : {{search}}</div>
                        <b-input v-model="search" @keyup="searchTable(search)" :placeholder="'ค้นหา'" class="col-md-4 ml-auto"></b-input>
                    </div>
                    <table class="table table-striped">
                        <thead >
                            <tr>
                                <th>ลำดับ</th>
                                <th>รหัสวัคซีน</th>
                                <th>ชื่อวัคซีน</th>
                                <th>รอบการฉีด</th>
                                <th>ฟาร์ม</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>
                        <tbody  >
                            <tr v-for="(item) in vaccine.slice((page-1)*10,((page-1)*10)+10)" :key="item.vaccineID">
                                <td>{{item.count}}</td>
                                <td>{{item.vaccineCode}}</td>
                                <td>{{item.vaccineName}}</td>
                                <td v-if="item.roundTime != null">{{item.roundTime}}</td>
                                <td v-if="item.roundTime == null">ไม่มี</td>
                                <td>{{item.farmname}}</td>
                                <td>
                                    <button v-b-modal="'editVaccine_'+item.vaccineID" name="edit" class="btn btn-warning">แก้ไข</button>
                                    <button name="edit" @click="confirmDelete(item.vaccineID)" class="btn btn-danger ml-2">ลบ</button>
                                    <b-button variant="info" class="ml-2" v-b-modal="'vaccine_'+item.vaccineID">Qrcode วัคซีน</b-button>

                                    <b-modal :id="'vaccine_'+item.vaccineID" size="lg" title="รายงาน QrCode Unit" hide-footer>
                                        <div :id="'showPDF_'+item.vaccineID" style="height: 500px;width:100%;overflow: scroll;">
                                            <div style="text-align: center">
                                                <h2>Qrcode วัคซีน : {{item.vaccineName}}</h2>
                                                <vue-qrcode :width="150" :quality="1" :scale="4" :value="''+item.vaccineCode" />
                                            </div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <footer >
                                            <div class="col-md-12 text-right">
                                                <b-button @click="printPDF(item.vaccineID)" variant="primary">พิมพ์เอกสาร(print)</b-button>
                                            </div>
                                        </footer>
                                    </b-modal>
                                    <b-modal :id="'editVaccine_'+item.vaccineID" size="lg" title="แก้ไขวัคซีน" hide-footer>
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">ชื่อวัคซีน : </label>
                                            </div>
                                            <input v-model="item.vaccineName" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">รหัสวัคซีน : </label>
                                            </div>
                                            <input v-model="item.vaccineCode" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">รอบการฉีด (วัน) : </label>
                                            </div>
                                            <input v-model="item.roundTime" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">ฟาร์ม : </label>
                                            </div>
                                            <select v-model="item.farmID" class="form-control col-md-6 ml-2">
                                                <option v-for="f in farm" :key="f.farmID" :value="f.farmID">{{f.farmname}}</option>
                                            </select>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <footer >
                                            <div class="col-md-12 text-right">
                                                <b-button @click="editVaccine(item)" variant="primary">แก้ไข</b-button>
                                            </div>
                                        </footer>
                                    </b-modal>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1" use-router></b-pagination-nav>
            </div>
        </div>
    </div>
</template>

<script>
import Nav from "../../components/Nav";
import app from "../../app";
import qs from "qs";
import pdfMake from 'pdfmake';
import pdfFonts from '../../assets/custom-fonts';
pdfMake.vfs = pdfFonts.pdfMake.vfs;
var htmlToPdfmake = require("html-to-pdfmake");
import VueQrcode from "vue-qrcode";


export default {
    name: 'vaccine',
    components: { Nav,VueQrcode },
    data() {
        return {
            farm:[],
            newVaccine: {},
            vaccine:[],
            page:1,
            pages1: [],
            count:0,
            search:"",
        };
    },
    mounted() {
        this.axios({
            method: "get",
            url: app.server() + "/get/vaccine/All",
        }).then(res=>{
            if(res.data){
                this.vaccine = res.data;
                var c = 0;
                this.vaccine.forEach(item=>{
                    item.count = ++c;
                })
                this.count = this.vaccine.length;
                var pag = Math.ceil(c/10)
                for(var i=0;i<pag;i++){
                    this.pages1.push('?');
                }
            }
        });
        this.axios({
            method: "get",
            url: app.server()+"/get/farm/All",
        }).then(res=>{
            if(res.data){
                this.farm = res.data;
                this.newVaccine.farmID = this.farm[0].farmID;
                this.genCode();
            }
        });
    },
    computed: {
        init(){
            this.count = 0;
        }
    },
    methods: {
        searchTable(data){
            if(data == ''){
                this.axios({
                    method: "get",
                    url: app.server() + "/get/vaccine/All",
                }).then(res=>{
                    if(res.data){
                        this.vaccine = [];
                        this.vaccine = res.data;
                        var c = 0;
                        this.vaccine.forEach(item=>{
                            item.count = ++c;
                        })
                        this.pages1 = [];
                        this.page = 1;
                        var pag = Math.ceil(c/10)
                        for(var i=0;i<pag;i++){
                            this.pages1.push('?');
                        }
                    }
                });
            }else{
                this.axios({
                    method: "get",
                    url: app.server() + "/get/vaccine/search?search="+data,
                }).then(res=>{
                    if(res.data){
                        this.vaccine = [];
                        this.vaccine = res.data;
                        var c = 0;
                        this.vaccine.forEach(item=>{
                            item.count = ++c;
                        })
                        this.pages1 = [];
                        this.page = 1;
                        var pag = Math.ceil(c/10)
                        for(var i=0;i<pag;i++){
                            this.pages1.push('?');
                        }
                    }
                });
            }
        },
        genCode(){
            var str = "Vac"+this.newVaccine.farmID+(++this.count);
            this.newVaccine.vaccineCode = str;
        },
        printPDF(id) {
            pdfMake.fonts = {
                // download default Roboto font from cdnjs.com
                Roboto: {
                normal: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf',
                bold: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf',
                italics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf',
                bolditalics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf'
                },
                // Kanit Font
                Kanit: { // 3. set Kanit font
                normal: 'Kanit-Regular.ttf',
                bold: 'Kanit-Medium.ttf',
                italics: 'Kanit-Italic.ttf',
                bolditalics: 'Kanit-MediumItalic.ttf'          
                },
                // Prompt Font
                Prompt: { // 3. set Kanit font
                normal: 'Prompt-Regular.ttf',
                bold: 'Prompt-Medium.ttf',
                italics: 'Prompt-Italic.ttf'    
                }
            }
            var html = htmlToPdfmake(document.getElementById("showPDF_"+id).innerHTML);
            var win = window.open("", "_blank");
            var docDefinition = {
                content: [html],
                defaultStyle: { // 4. default style 'KANIT' font to test
                font: 'Prompt'
                },
                pageBreakBefore: function(currentNode) {
                return (
                    currentNode.style &&
                    currentNode.style.indexOf("pdf-pagebreak-before") > -1
                );
                },
                style: function(currectNode) {
                return currectNode.style && currectNode.style.indexOf("text-center");
                }
            };

            let pdfDocGenerator = pdfMake.createPdf(docDefinition);
            try {
                //pdfDocGenerator.open({}, win);
                pdfDocGenerator.print({}, win)
            } catch (err) {
                console.log(err);
            }
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        addVaccine(vaccine){
            var data = {
                "vaccineName":vaccine.vaccineName,
                "vaccineCode" : vaccine.vaccineCode,
                "farmID" : vaccine.farmID,
                "roundTime" : vaccine.roundTime,
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "post",
                url : app.server()+"/add/vaccine",
                data: dataJSON,
            }).then(res=>{
                if(res.data){
                    var obj = qs.parse(res.data);
                    if(obj.status == 'success'){
                        this.successAlert();
                    }
                }
            });
        },
        editVaccine(vaccine){
            var data = {
                "id": vaccine.vaccineID,
                "vaccineName":vaccine.vaccineName,
                "vaccineCode" : vaccine.vaccineCode,
                "roundTime" : vaccine.roundTime,
                "farmID" : vaccine.farmID
            }
            //console.log(data);
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "put",
                url: app.server()+"/update/vaccine",
                data : dataJSON,
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert()
                    }
                }
            })
        },
        confirmDelete(id) {
            // Use sweetalert2
            this.$swal.fire({
                title: 'ยืนยันการลบหรือไม่?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var data = {
                            'id': id,
                        };
                        var dataJSON = qs.stringify(data);
                        console.log("delete : ",dataJSON);
                        this.axios({
                            method: "delete",
                            url: app.server()+"/delete/vaccine",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.successAlert();
                        })

                    this.$swal.fire('ทำรายการสำเร็จ!', '', 'success')
                }
            });
        },
    },
};
</script>