<template>
    <div id="semen">
        <Nav v-bind:isActive="4"></Nav>
        <div class="col-md-12 text-right pt-2">
            <b-button variant="info" v-b-modal="'addSemen'">เพิ่มน้ำเชื้อ</b-button>
            <b-modal :id="'addSemen'" size="lg" title="เพิ่มน้ำเชื้อ" hide-footer>

                <div class="row">
                    <div class="col-md-3 text-right">
                        <label for="pre" class="col-form-label font-weight-bold ml-2">รหัสQR Code น้ำเชื้อ : </label>
                    </div>
                    <input v-model="newSemen.barcode" type="text" class="col-md-4 ml-2 form-control" />
                    <b-button @click="genQrcode()" class="ml-2" variant="outline-secondary">generate</b-button>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-right">
                        <label for="pre" class="col-form-label font-weight-bold ml-2">พ่อพันธุ์ : </label>
                    </div>
                    <select v-model="newSemen.sowID" class="form-contrlo col-md-6">
                        <option v-for="item in sire" :key="item.sowID" :value="item.sowID">เบอร์ {{item.sowCode}}</option>
                    </select>
                </div>

                <div class="row mt-2">
                    <div class="col-md-3 text-right">
                        <label for="pre" class="col-form-label font-weight-bold ml-2">พนักงาน : </label>
                    </div>
                    <select v-model="newSemen.empID" class="form-contrlo col-md-6">
                        <option v-for="item in employee" :key="item.empID" :value="item.empID">{{item.empCode}} {{item.fname}} {{item.lname}}</option>
                    </select>
                </div>

                <div class="dropdown-divider"></div>
                <footer >
                    <div class="col-md-12 text-right">
                        <b-button @click="addSemen(newSemen)" variant="primary">บันทึก</b-button>
                    </div>
                </footer>
            </b-modal>
        </div>
        <div class="container">
            <div class="card mt-4">
                <div class="card-header text-center">
                    <h3>ข้อมูลน้ำเชื้อ</h3>
                </div>
                <div class="card-body">
                    <div class="text-right mb-2">
                        <div style="color:#B9B9B9;font-style:Italic" v-if="mating_search != ''">ค้นหาเบอร์หูหมายเลข : {{mating_search}}</div>
                        <b-input v-model="mating_search" @keyup="searchTable(mating_search)" :placeholder="'ค้นหาเบอร์หู'" class="col-md-4 ml-auto"></b-input>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">เบอร์หูสุกร</th>
                                <th class="text-center">CODE</th>
                                <th class="text-center">จัดการ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in semen.slice((page-1)*10,((page-1)*10)+10)" :key="item.sowSemenID">
                                <td class="text-center">{{item.count}}</td>
                                <td class="text-center">{{item.sowCode}}</td>
                                <td class="text-center">{{item.SemenBarcode}}</td>
                                <td>
                                    <button v-b-modal="'editSemen_'+item.sowSemenID" name="edit" class="btn btn-warning">แก้ไข</button>

                                    <b-modal :id="'editSemen_'+item.sowSemenID" size="lg" title="แก้ไขข้อมูลน้ำเชื้อ" hide-footer>

                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="pre" class="col-form-label font-weight-bold ml-2">รหัสQR Code น้ำเชื้อ : </label>
                                            </div>
                                            <input v-model="item.SemenBarcode" type="text" class="col-md-4 ml-2 form-control" />
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <footer >
                                            <div class="col-md-12 text-right">
                                                <b-button @click="editSemen(item)" variant="primary">แก้ไข</b-button>
                                            </div>
                                        </footer>
                                    </b-modal>

                                    <button name="delete" @click="confirmDelete(item.sowSemenID)" class="btn btn-danger ml-2">ลบ</button>

                                    <b-button  v-b-modal="'show_'+item.sowSemenID" class="ml-2" variant="primary">พิมพ์Qrcode</b-button>
                                    <b-modal :id="'show_'+item.sowSemenID" size="lg" title="แก้ไขข้อมูลน้ำเชื้อ" hide-footer>
                                        <div :id="'showPDF_'+item.sowSemenID">
                                            <div style="text-align: center"><h2>น้ำเชื้อพ่อพันธุ์ เบอร์ {{item.sowCode}}</h2></div>
                                            <div style="text-align:center">
                                                <vue-qrcode :width="200" :quality="1" :scale="4" :value="item.SemenBarcode" />
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <footer >
                                            <div class="col-md-12 text-right">
                                                <b-button @click="printPDF(item.sowSemenID)" variant="primary">พิมพ์เอกสาร</b-button>
                                            </div>
                                        </footer>
                                    </b-modal>
                                </td>
                            </tr>
                        </tbody>
                </table>
                </div>
                <div class="col-md-12">
                    <b-pagination-nav align="right" v-model="page" class="ml-auto" :pages="pages1"></b-pagination-nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Nav from '../../components/Nav';
import app from '../../app';
import qs from 'qs';
import pdfMake from 'pdfmake';
import pdfFonts from '../../assets/custom-fonts';
pdfMake.vfs = pdfFonts.pdfMake.vfs;
var htmlToPdfmake = require("html-to-pdfmake");
import VueQrcode from "vue-qrcode";

export default {
    name: "semen",
    components:{
        Nav,
        VueQrcode
    },
    data(){
        return {
            semen:[],
            page: 1,
            pages1: [],
            sire:[],
            newSemen:{"barcode":""},
            employee:[],
            mating_search:""
        }
    },
    mounted(){
        this.axios({
            method : "get",
            url: app.server()+"/get/employee/All"
        }).then(res=>{
            if(res.data){
                this.employee = res.data;
                var c = 0;
                this.employee.forEach(item=>{
                    if(c==0) this.newSemen.empID = item.empID;
                    item.count = ++c;
                })
            }
        });

        this.axios({
            method : "get",
            url: app.server()+"/get/sowsemen/All"
        }).then(res=>{
            if(res.data){
                this.semen = res.data;
                var c = 0;
                this.semen.forEach(item=>{
                    item.count = ++c;
                })

                var pag = Math.ceil(c/10);
                for(var i=0;i<pag;i++){
                    this.pages1.push("?page="+(i+1))
                }
            }
        });

        this.axios({
            method : "get",
            url: app.server()+"/get/sow/sire"
        }).then(res=>{
            if(res.data){
                this.sire = res.data;
                var c = 0;
                this.sire.forEach(item=>{
                    if(c==0) this.newSemen.sowID = item.sowID;
                    item.count = ++c;
                })
            }
        });
    },
    methods: {
        genQrcode(){
            var len = this.semen.length;
            this.newSemen.barcode = "Semen"+(len+1);
        },
        searchTable(data){
            if(data == ''){
                this.axios({
                    method : "get",
                    url: app.server()+"/get/sowsemen/All"
                }).then(res=>{
                    if(res.data){
                        this.semen = [];
                        this.semen = res.data;
                        var c = 0;
                        this.semen.forEach(item=>{
                            item.count = ++c;
                        })
                        this.pages1 = [];
                        this.page = 1;
                        var pag = Math.ceil(c/10);
                        for(var i=0;i<pag;i++){
                            this.pages1.push("?page="+(i+1))
                        }
                    }
                });
            }else{
                this.axios({
                    method : "get",
                    url: app.server()+"/get/sowsemen/search?search="+data
                }).then(res=>{
                    if(res.data){
                        this.semen = [];
                        this.semen = res.data;
                        var c = 0;
                        this.semen.forEach(item=>{
                            item.count = ++c;
                        })
                        this.pages1 = [];
                        this.page = 1;
                        var pag = Math.ceil(c/10);
                        for(var i=0;i<pag;i++){
                            this.pages1.push("?page="+(i+1))
                        }
                    }
                });
            }
        },
        successAlert(){
            this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'ทำรายการสำเร็จ',
            }).then(result=>{
                location.reload();
            });
        },
        warningAlert(){
            this.$swal.fire({
            icon: 'warning',
            title: 'Be Careful!',
            text: 'มีบางอย่างผิดพลาด',
            });
        },
        addSemen(SowSemen){
            var data = {
                "barcode":SowSemen.barcode,
                "sowID":SowSemen.sowID,
                "empID":SowSemen.empID
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method: "post",
                url: app.server() + "/add/sowsemen",
                data: dataJSON,
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert();
                    }
                }
            });
        },
        editSemen(semen){
            var data = {
                "id": semen.sowSemenID,
                "qrcode" : semen.SemenBarcode,
            }
            var dataJSON = qs.stringify(data);
            this.axios({
                method:"put",
                url: app.server()+"/update/sowsemen",
                data: dataJSON,
            }).then(res=>{
                if(res.data){
                    if(res.data.status == 'success'){
                        this.successAlert();
                    }
                }
            });
        },
        confirmDelete(id) {
            // Use sweetalert2
            this.$swal.fire({
                title: 'ยืนยันการลบหรือไม่?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var data = {
                            'id': id,
                        };
                        var dataJSON = qs.stringify(data);
                        this.axios({
                            method: "delete",
                            url: app.server()+"/delete/sowsemen",
                            data: dataJSON,
                            headers: {
                            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
                            },
                        }).then(res=>{
                            console.log(res)
                            this.successAlert();
                        })

                    this.$swal.fire('ทำรายการสำเร็จ!', '', 'success')
                }
            });
        },
        printPDF(id) {
            pdfMake.fonts = {
                // download default Roboto font from cdnjs.com
                Roboto: {
                normal: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf',
                bold: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf',
                italics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf',
                bolditalics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf'
                },
                // Kanit Font
                Kanit: { // 3. set Kanit font
                normal: 'Kanit-Regular.ttf',
                bold: 'Kanit-Medium.ttf',
                italics: 'Kanit-Italic.ttf',
                bolditalics: 'Kanit-MediumItalic.ttf'          
                },
                // Prompt Font
                Prompt: { // 3. set Kanit font
                normal: 'Prompt-Regular.ttf',
                bold: 'Prompt-Medium.ttf',
                italics: 'Prompt-Italic.ttf'    
                }
            }
            var html = htmlToPdfmake(document.getElementById("showPDF_"+id).innerHTML);
            var win = window.open("", "_blank");
            var docDefinition = {
                content: [html],
                defaultStyle: { // 4. default style 'KANIT' font to test
                font: 'Prompt'
                },
                pageBreakBefore: function(currentNode) {
                return (
                    currentNode.style &&
                    currentNode.style.indexOf("pdf-pagebreak-before") > -1
                );
                },
                style: function(currectNode) {
                return currectNode.style && currectNode.style.indexOf("text-center");
                }
            };

            let pdfDocGenerator = pdfMake.createPdf(docDefinition);
            try {
                //pdfDocGenerator.open({}, win);
                pdfDocGenerator.print({}, win)
            } catch (err) {
                console.log(err);
            }
        }
    }
}
</script>